<html>
<head>
	<title>{{.title}}</title>
	<link href="res/main.css" rel="stylesheet">
</head>
<body>
	<h3 class="page_title">Trades for User {{.UserInfo.Addr}}</h3>
<table>
	<tr>
		<td>User's Address:</td>
		<td>{{.UserInfo.Addr}}</td>
	</tr>
	<tr>
		<td>Market:</td>
		<td>{{.Market.Description}}</td>
	</tr>
</table>
{{template "market_trades" .UTrades}}
<br/><br/><br/>
<nav>
	<ul>
	<li>
		<a class="btn_link" href="index.html">Back</a>
		<span></span><span></span><span></span><span></span>
	</li>
</ul>
</nav>
</body>
</html>
