<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<link href="/black/res/cosmicgame.css" rel="stylesheet">
	<title>NFT Claims by User</title>
</head>
<body>
	<div class="cg-container">
		<div class="page-header">
			<div class="home-button">
				<nav>
					<ul>
						<li style="width: 10em;">
							<a class="btn_link" href="/black/cosmicgame">🏠 Home</a>
							<span></span><span></span><span></span><span></span>
						</li>
					</ul>
				</nav>
			</div>
			<h1>🎁 Claims of Donated NFTs by User</h1>
			<div class="address-display">{{.UserInfo.Address}}</div>
		</div>

		<div class="section-card">
			<table class="data-table">
				<tr>
					<th>Block</th>
					<th>DateTime</th>
					<th>Winner</th>
					<th>Donor</th>
					<th class="center">Token ID</th>
					<th>Token URI</th>
				</tr>
				{{- range $i, $change := .DonatedNFTClaims}}
					<tr>
						<td>{{.Tx.BlockNum}}</td>
						<td>{{.Tx.DateTime}}</td>
						<td class="monospace">
							<a href="/black/cosmicgame/user/info/{{.WinnerAddr}}">{{.WinnerAddr}}</a>
						</td>
						<td class="monospace">
							<a href="/black/cosmicgame/user/info/{{.DonorAddr}}">{{.DonorAddr}}</a>
						</td>
						<td class="center">{{.NFTTokenId}}</td>
						<td style="word-break: break-all; max-width: 300px;">{{.NFTTokenURI}}</td>
					</tr>
				{{- end}}
			</table>
		</div>

		<div class="api-info">
			<strong>API Endpoint:</strong><br/>
			<code>/api/cosmicgame/donations/nft/claims/by_user/[user_address]</code><br/><br/>
			<strong>Example:</strong><br/>
			<code>/api/cosmicgame/donations/nft/claims/by_user/{{.UserInfo.Address}}</code>
		</div>
	</div>
</body>
</html>
