
.gitignore

# Vim swap files
*.swp

# Root level binaries
mainnet
production

# previous-code binaries
previous-code/etl/cmd/augur-turbo/augur-turbo
previous-code/etl/cmd/augur/augur
previous-code/etl/cmd/balancer/balancer
previous-code/etl/cmd/clmon/main
previous-code/etl/cmd/cosmicgame/cosmicgame
previous-code/etl/cmd/cosmicgame/imggen_monitor/imggen_exec
previous-code/etl/cmd/cosmicgame/imggen_monitor/imggen_monitor
previous-code/etl/cmd/cosmicgame/scripts/approved
previous-code/etl/cmd/cosmicgame/scripts/autobid
previous-code/etl/cmd/cosmicgame/scripts/autobid2
previous-code/etl/cmd/cosmicgame/scripts/bid
previous-code/etl/cmd/cosmicgame/scripts/bidcst
previous-code/etl/cmd/cosmicgame/scripts/bidts
previous-code/etl/cmd/cosmicgame/scripts/blockts
previous-code/etl/cmd/cosmicgame/scripts/burn-costokens
previous-code/etl/cmd/cosmicgame/scripts/cginfo
previous-code/etl/cmd/cosmicgame/scripts/charitywithdraw
previous-code/etl/cmd/cosmicgame/scripts/chown
previous-code/etl/cmd/cosmicgame/scripts/claimdonated
previous-code/etl/cmd/cosmicgame/scripts/claimprize
previous-code/etl/cmd/cosmicgame/scripts/costoken-transfer
previous-code/etl/cmd/cosmicgame/scripts/csig-transfer
previous-code/etl/cmd/cosmicgame/scripts/cstprice
previous-code/etl/cmd/cosmicgame/scripts/donate
previous-code/etl/cmd/cosmicgame/scripts/donate-wi
previous-code/etl/cmd/cosmicgame/scripts/dwi-records
previous-code/etl/cmd/cosmicgame/scripts/erc20bal
previous-code/etl/cmd/cosmicgame/scripts/erc20totsup
previous-code/etl/cmd/cosmicgame/scripts/erc721approve
previous-code/etl/cmd/cosmicgame/scripts/erc721approvesingle
previous-code/etl/cmd/cosmicgame/scripts/erc721disapprove
previous-code/etl/cmd/cosmicgame/scripts/ethbal
previous-code/etl/cmd/cosmicgame/scripts/img_upload
previous-code/etl/cmd/cosmicgame/scripts/isapproved4all
previous-code/etl/cmd/cosmicgame/scripts/lbt
previous-code/etl/cmd/cosmicgame/scripts/num_nft_winners
previous-code/etl/cmd/cosmicgame/scripts/num_raffle_winners
previous-code/etl/cmd/cosmicgame/scripts/owner
previous-code/etl/cmd/cosmicgame/scripts/percent_prize
previous-code/etl/cmd/cosmicgame/scripts/percent_raffle
previous-code/etl/cmd/cosmicgame/scripts/sendeth
previous-code/etl/cmd/cosmicgame/scripts/set_charity_percentage
previous-code/etl/cmd/cosmicgame/scripts/set_staking_percentage
previous-code/etl/cmd/cosmicgame/scripts/setactivation
previous-code/etl/cmd/cosmicgame/scripts/setcharity
previous-code/etl/cmd/cosmicgame/scripts/settokname
previous-code/etl/cmd/cosmicgame/scripts/stakerwalk
previous-code/etl/cmd/cosmicgame/scripts/stclaim
previous-code/etl/cmd/cosmicgame/scripts/stunstake
previous-code/etl/cmd/cosmicgame/scripts/tokownerof
previous-code/etl/cmd/ensscan/ensscan
previous-code/etl/cmd/erc1155/erc1155
previous-code/etl/cmd/erc20/erc20
previous-code/etl/cmd/layer1/layer1
previous-code/etl/cmd/notibot/scripts/verify-token-imgs
previous-code/etl/cmd/polymarkets/polymarkets
previous-code/etl/cmd/polysync/polysync
previous-code/etl/cmd/randomwalk/randomwalk
previous-code/etl/cmd/randomwalk/scripts/mint
previous-code/etl/cmd/randomwalk/scripts/ownerof
previous-code/etl/cmd/randomwalk/scripts/price
previous-code/etl/cmd/randomwalk/scripts/scan_rwmints
previous-code/etl/cmd/randomwalk/scripts/status
previous-code/etl/cmd/randomwalk/scripts/statusmkt
previous-code/etl/cmd/randomwalk/scripts/transfer
previous-code/etl/cmd/srvmonitor/srvmonitor
previous-code/etl/cmd/tokens/tokens
previous-code/etl/cmd/uniswap/uniswap
previous-code/etl/tools/check_owner
previous-code/etl/tools/check_wallet
previous-code/server/cosmicgame-server
previous-code/server/server

# rwcg binaries
rwcg/cosmicgame
rwcg/etl/cosmicgame/cg_etl
rwcg/etl/cosmicgame/cosmicgame
rwcg/etl/cosmicgame/scripts/approved
rwcg/etl/cosmicgame/scripts/autobid
rwcg/etl/cosmicgame/scripts/bid
rwcg/etl/cosmicgame/scripts/cginfo
rwcg/etl/cosmicgame/scripts/claimprize
rwcg/etl/cosmicgame/scripts/claimprize-delay60
rwcg/etl/cosmicgame/scripts/deploy-erc20
rwcg/etl/cosmicgame/scripts/donate
rwcg/etl/cosmicgame/scripts/dwi-records
rwcg/etl/cosmicgame/scripts/erc20allowance
rwcg/etl/cosmicgame/scripts/erc20approve
rwcg/etl/cosmicgame/scripts/erc20bal
rwcg/etl/cosmicgame/scripts/erc20revoke
rwcg/etl/cosmicgame/scripts/isapproved4all
rwcg/etl/cosmicgame/scripts/owner
rwcg/etl/cosmicgame/scripts/set-initial-duration-divisor
rwcg/etl/cosmicgame/scripts/set-time-increment
rwcg/etl/cosmicgame/scripts/set_charity_percentage
rwcg/etl/cosmicgame/scripts/set_main_prize_percentage
rwcg/etl/cosmicgame/scripts/set_num_nft_winners
rwcg/etl/cosmicgame/scripts/set_num_raffle_winners
rwcg/etl/cosmicgame/scripts/set_raffle_percentage
rwcg/etl/cosmicgame/scripts/set_staking_percentage
rwcg/etl/cosmicgame/scripts/set_token_name
rwcg/etl/cosmicgame/scripts/setactivation
rwcg/etl/cosmicgame/scripts/setroundactivation
rwcg/etl/cosmicgame/scripts/tokownerof
rwcg/etl/randomwalk/rw_etl
rwcg/etl/randomwalk/scripts/accept_offer
rwcg/etl/randomwalk/scripts/approve
rwcg/etl/randomwalk/scripts/cancel_offer
rwcg/etl/randomwalk/scripts/mint
rwcg/etl/randomwalk/scripts/new_offer
rwcg/etl/randomwalk/scripts/ownerof
rwcg/etl/randomwalk/scripts/price
rwcg/etl/randomwalk/scripts/scan_rwmints
rwcg/etl/randomwalk/scripts/scan_transfers
rwcg/etl/randomwalk/scripts/setname
rwcg/etl/randomwalk/scripts/status
rwcg/etl/randomwalk/scripts/statusmkt
rwcg/etl/randomwalk/scripts/tokenuri
rwcg/etl/randomwalk/scripts/transfer
rwcg/etl/randomwalk/scripts/verify_erc20_transfers
rwcg/etl/randomwalk/scripts/verify_owner
rwcg/etl/randomwalk/scripts/withdrawal
rwcg/etl/randomwalk/tools/rw_toprated
rwcg/freezer-scanner/freezer-scan/freezer-scan
rwcg/tools/archive_export
rwcg/tools/db_verify
rwcg/tools/evtlog_diff
rwcg/websrv/websrv
rwcg/etl/cosmicgame/imggen_monitor/imggen_exec
rwcg/etl/cosmicgame/imggen_monitor/imggen_monitor
