<html>
<head>
	<title>{{.title}}</title>
	<link href="../res/main.css" rel="stylesheet">
</head>
<body>
	<h3 class="page_title">Deposits/Withdrawals for {{.UserInfo.Addr}}</h3>
<table>
	<tr>
		<td>Account Address</td>
		<td>{{.UserInfo.Addr}}</td>
	</tr>
</table>
<br/><br/>
{{template "deposits_withdrawals_list" .Operations}}
<br/><br/><br/>
<nav>
	<ul>
	<li>
		<a class="btn_link" href="../index.html">Back</a>
		<span></span><span></span><span></span><span></span>
	</li>
</ul>
</nav>
</body>
</html>
