<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>SharesMinted Outside Augur GUI</title>
</head>
<body>
<h3 class="page_title">ShareTokens minted outside Augur GUI</h3>
<h4 class="page_title">
</h4>
<br/>
<table class="market_trades">
	<tr class="market_trades">
		<td class="mkt_trade_hdr" style="text-align: left">Market ID</td>
		<td class="mkt_trade_hdr" style="text-align: left">{{.MarketInfo.AbstractMarketInfo.MarketId}}</td>
	</tr>
	<tr class="market_trades">
		<td class="mkt_trade_hdr" style="text-align: left">Title</td>
		<td class="mkt_trade_hdr" style="text-align: left">{{.MarketInfo.Title}}</td>
	</tr>
	<tr class="market_trades">
		<td class="mkt_trade_hdr" style="text-align: left">Description</td>
		<td class="mkt_trade_hdr" style="text-align: left">{{.MarketInfo.Description}}</td>
	</tr>
	<tr class="market_trades">
		<td class="mkt_trade_hdr" style="text-align: left">Home Team</td>
		<td class="mkt_trade_hdr" style="text-align: left">{{.MarketInfo.HomeTeam}}</td>
	</tr>
	<tr class="market_trades">
		<td class="mkt_trade_hdr" style="text-align: left">Away Team</td>
		<td class="mkt_trade_hdr" style="text-align: left">{{.MarketInfo.AwayTeam}}</td>
	</tr>
	<tr class="market_trades">
		<td class="mkt_trade_hdr" style="text-align: left">Market Rules</td>
		<td class="mkt_trade_hdr" style="text-align: left">
			{{- range $i, $item := .MarketInfo.MarketRules}}
				{{.}}<br/>
			{{- end }}
		</td>
	</tr>
	<tr class="market_trades">
		<td class="mkt_trade_hdr" style="text-align: left">Liquidity</td>
		<td class="mkt_trade_hdr" style="text-align: left">{{.MarketInfo.AbstractMarketInfo.Liquidity}}</td>
	</tr>
</table>
<br/>
<div id="arbitrum_augur_pools"></div>
<h3>List of 'SharesMinted' operations on this market:</h3>
<div class="market_info">
<table class="market_trades">
	<tr class="market_trades">
		<td class="mkt_trade_hdr" style="text-align: center" >Block</td>
		<td class="mkt_trade_hdr" style="text-align: center" >Created</td>
		<td class="mkt_trade_hdr" style="text-align: center">Caller Addr</td>
		<td class="mkt_trade_hdr" style="text-align: center">Amount</td>
	</tr>
	{{- range $i, $rpt := .SharesMintedOperations}}
	<tr class="market_trades">
		<td class="mkt_trade_field">{{.BlockNum}}</td>
		<td class="mkt_trade_field">{{.DateTime}}</td>
		<td class="mkt_trade_field">{{.CallerAddr}}</td>
		<td class="mkt_trade_field" style="text-align: right">{{ printf "%.2f"  .Amount }}</td>
	</tr>
	{{- end }}
</table>
<br/><br/>
<nav>
	<ul>
	<li>
		<a class="btn_link" href="/black/index.html">Back</a>
		<span></span><span></span><span></span><span></span>
	</li>
</ul>
</nav>
</body>
</html>
