{{define "card"}}
    <div class="card">
        <div class="card__title">
            <a href="#">Will Titanic on domestic opening weekend of June 26, 2020 in the US gross more than Titanic2 on its opening
                weekend in US?</a>
            <div class="card__title-down">
                <span>Ends in 2 days</span><span class="tag">Scalar</span>
            </div>
        </div>
        <div class="card__info">
            <div class="card__all-left">
                <div class="card__percents">
                    <span class="answer">Yes</span>
                    <span class="answer">No</span>
                </div>
                <div class="card__number">
                    <span class="percent-yes">100%</span>
                    <span class="percent-no">0%</span>
                </div>
            </div>
            <div class="card__all-right">
                <div class="card__volume">
                    <span>Total volume</span>
                    <span>Money at stake</span>
                </div>
                <div class="card__money">
                    <span>30</span>
                    <span>224.5</span>
                </div>
            </div>
        </div>
        <p class="card__footer">And <a href="#">1 more</a> possible outcome</p>
    </div>
{{end}}