{{define "filling_order"}}
<tr class="forders_list">
	<td class="forders_field"><a class="addr" href="order/{{.OrderId}}">{{.OrderHashSh}}</a></td>
	<td class="forders_field">{{.Date}}</td>
	<td class="forders_field" title="{{.CreatorEOAAddr}}">
		{{- if .CreatorBuyer }}
			<font color=green><b>BUYER</b></font> 
		{{- else }}
			<font color=red><b>SELLER</b></font> 
		{{- end }}
		<a class="addr" href="../search?q={{.CreatorEOAAddr}}">{{.CreatorEOAAddrSh}}</a>
	</td>
	<td class="forders_field" title="{{.FillerEOAAddr}}">
		<a class="addr" href="../search?q={{.FillerEOAAddr}}">{{.FillerEOAAddrSh}}</a>
		{{- if .FillerBuyer }}
			<font color=green><b>BUYER</b></font> 
		{{- else }}
			<font color=red><b>SELLER</b></font> 
		{{- end }}
	</td>
	<td class="forders_field" style="text-align: right">{{.OutcomeStr}}</td>
	<td class="forders_field" style="text-align: right">{{.Price}}</td>
	<td class="forders_field" style="text-align: right">{{.Amount}}</td>
	<td class="forders_field" style="text-align: center">
		<a href="../order/{{.OrderId}}">View Order</a>
	</td>
</tr>
{{end}}
