{{define "footer"}}
<footer>
    <div class="container">
        <div class="footer__nav">
            <img src="../imgs/logo-footer.svg">
            <div class="footer__line"></div>
        </div>
        <div class="footer__down">
           <p>© 2020 Prediction Explorer</p>
        </div>
        <div class="footer__social">
            <img src="../imgs/twitter.svg">
            <img src="../imgs/insta.svg">
            <img src="../imgs/facebook.svg">
        </div>
    </div>
</footer>
{{end}}