<html>
<head>
	<title>{{.title}}</title>
	<link href="/black/res/main.css" rel="stylesheet">
</head>
<body>
	<h3 class="page_title">Info for hash {{.Hash}}</h3>
<div class="user_info">
	<table class="user_info">
		<tr class="user_info">
			<td>Hash</td>
			<td class="right addr" title="{{.Hash}}">
				{{.Hash}}
			</td>
		</tr>
		<tr class="user_info">
			<td>Status</td>
			<td>No Augur-related activity found</td>
		</tr>
	</table>
	<br/>
</div>
<nav>
	<ul>
	<li>
		<a class="btn_link" href="index.html">Back</a>
		<span></span><span></span><span></span><span></span>
	</li>
</ul>
</nav>
</body>
</html>
