{{define "header"}}
<header>
    <div class="container">
        <div class="header__nav">
            <img src="../imgs/logo.svg">
            <div class="header__nav-box">
                <a href="#">Top Users</a>
                <a href="statistics.html">Statistics</a>
                <p><input type="search" name="q" placeholder="Search"></p>
            </div>
        </div>
        <div class="header__nav-mobile">
            <div class="header__nav-box">
                <img src="../imgs/logo-small.svg">
                <div class="header__nav-box-in">
                    <a href="#">Top Users</a>
                    <a href="statistics.html">Statistics</a>
                </div>
            </div>
            <p><input type="search" name="q" placeholder="Search"></p>
        </div>
    </div>
</header>
{{end}}