<html>
<head>
	<title>{{.title}}</title>
	<link href="res/main.css" rel="stylesheet">
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  rel="stylesheet">
</head>

<body>
{{template "header"}}
<div class="section">
	<div class="container">
		<select class="FormControlSelect" id="FormControlSelect">
			<option value="0" disabled selected="selected">Sort by</option>
			<option value="1">Volume</option>
			<option value="2">Money at stake</option>
		</select>
		<div class="row">
			<div class="col-sm-6 col-md-4">{{template "card"}}</div>
			<div class="col-sm-6 col-md-4">{{template "card"}}</div>
			<div class="col-sm-6 col-md-4">{{template "card"}}</div>
			<div class="col-sm-6 col-md-4">{{template "card"}}</div>
			<div class="col-sm-6 col-md-4">{{template "card"}}</div>
			<div class="col-sm-6 col-md-4">{{template "card"}}</div>
			<div class="col-sm-6 col-md-4">{{template "card"}}</div>
			<div class="col-sm-6 col-md-4">{{template "card"}}</div>
			<div class="col-sm-6 col-md-4">{{template "card"}}</div>
			<div class="col-sm-6 col-md-4">{{template "card"}}</div>
			<div class="col-sm-6 col-md-4">{{template "card"}}</div>
			<div class="col-sm-6 col-md-4">{{template "card"}}</div>
		</div>
	</div>
</div>
{{template "footer"}}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script>
</body>
</html>
