{{define "market_trades"}}
<table class="market_trades">
	<tr>
		<td class="mkt_trade_hdr" style="text-align: center">Date</td>
		<td class="mkt_trade_hdr" style="text-align: center">Creator</td>
		<td class="mkt_trade_hdr" style="text-align: center">Filler</td>
		<td class="mkt_trade_hdr" style="text-align: center">Price</td>
		<td class="mkt_trade_hdr" style="text-align: center">Amount</td>
		<td class="mkt_trade_hdr" style="text-align: center">Outcome</td>
	</tr>
		{{- range $i, $trade := .}}
			{{template "mkt_trade" $trade}}
		{{- end}}
</table>
{{end}}
