<html>
<head>
	<title>{{.title}}</title>
	<link href="res/main.css" rel="stylesheet">
</head>
<body>
<h3 class="page_title">Markets</h3>
<form type=GET action="search/" style="margin-left:4em;">
Search:
		<input type="text" name="q">
		<input type="submit" value=" Search ">
	</form>
</form>
{{template "markets_list" .Markets}}
<br/><br/><br/>
<nav>
	<ul>
	<li>
		<a class="btn_link" href="index.html">Back</a>
		<span></span><span></span><span></span><span></span>
	</li>
</ul>
</nav>
</body>
</html>
