<html>
<head>
	<link href="/res/main.css" rel="stylesheet">
	<title>Augur Market Depth {{.Market.MktAddr}}</title>
	<meta name="description" content="{{.Market.Description}}">
</head>
<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script>
	function load_order_data(eoa_addr,wallet_addr,mkt_aid,outcome_idx,total_bids,total_asks,total_cancel,order_date,expires) {
		console.log(eoa_addr)
		console.log(mkt_aid)
		console.log(outcome_idx)
		var elt
		elt = document.getElementById("usermktinfo")
		elt.style.display="block"
		elt = document.getElementById("fld_wallet_addr")
		elt.innerHTML = wallet_addr
		elt = document.getElementById("fld_eoa_addr")
		elt.innerHTML = eoa_addr
		elt = document.getElementById("fld_num_bids")
		elt.innerHTML = total_bids
		elt = document.getElementById("fld_num_asks")
		elt.innerHTML = total_asks
		elt = document.getElementById("fld_num_cancel")
		elt.innerHTML = total_cancel
		elt = document.getElementById("fld_order_date")
		elt.innerHTML = order_date
		elt = document.getElementById("fld_expires")
		elt.innerHTML = expires
	}

	var ask_data = {{.JSAskData}}
	var bid_data = {{.JSBidData}}
</script>
<h3 class="page_title">Market Details</h3>
<table class="market_detail">
<tr>
	<td>Address:</td>
	<td>{{.Market.MktAddr}}</td>
</tr>
<tr>
	<td>Description</td>
	<td>{{.Market.Description}}</td>
</tr>
</table>
<br/><br/>
<div id="depth_graph"></div>
<div id="usermktinfo" style="display: none;">
	User statistics on this market for this outcome in particular:
	<table>
		<tr>
			<td>Order Date</td>
			<td><span id="fld_order_date"></span></td>
		</tr>
		<tr>
			<td>Expires</td>
			<td><span id="fld_expires"></span></td>
		</tr>
		<tr>
			<td>Trading Wallet Address</td>
			<td><span id="fld_wallet_addr"></span></td>
		</tr>
		<tr>
			<td>Real User Account (EOA):</td>
			<td><span id="fld_eoa_addr"></span></td>
		</tr>
		<tr>
			<td>Number of BIDs:</td>
			<td><span id="fld_num_bids"></span></td>
		</tr>
		<tr>
			<td>Number of ASKs:</td>
			<td><span id="fld_num_asks"></span></td>
		</tr>
		<tr>
			<td>Number of Cancelled orders:</td>
			<td><span id="fld_num_cancel"></span></td>
		</tr>
	</table>
	<nav>
		<ul>
		<li>
			<a class="btn_link" href="/index.html">Full Statistics</a>
			<span></span><span></span><span></span><span></span>
		</li>
	</ul>
	</nav>
</div>
<table>
	<tr>
		<td>
			<div class="market_bids">
			<h3 style="width: 100%; text-align: center;">Bids</h3>
			{{template "market_depth_pane" .Bids}}
			</div>
		<td>
			<div class="market_asks">
				<h3 style="width: 100%; text-align: center;">Asks</h3>
				{{template "market_depth_pane" .Asks}}
			</div>
		</td>
	</tr>
</table>
<nav>
	<ul>
	<li>
		<a class="btn_link" href="/index.html">Back</a>
		<span></span><span></span><span></span><span></span>
	</li>
</ul>
</nav>
<script>
// font loading begins
	Highcharts.createElement('link', {
  href: 'https://fonts.googleapis.com/css?family=Unica+One',
  rel: 'stylesheet',
  type: 'text/css'
}, null, document.getElementsByTagName('head')[0]);
// font loading ends
// Dark theme setup begins
Highcharts.theme = {
  colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066',
    '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'
  ],
  chart: {
    backgroundColor: {
      linearGradient: {
        x1: 0,
        y1: 0,
        x2: 1,
        y2: 1
      },
      stops: [
        [0, '#2a2a2b'],
        [1, '#3e3e40']
      ]
    },
    style: {
      fontFamily: '\'Unica One\', sans-serif'
    },
    plotBorderColor: '#606063'
  },
  title: {
    style: {
      color: '#E0E0E3',
      textTransform: 'uppercase',
      fontSize: '20px'
    }
  },
  subtitle: {
    style: {
      color: '#E0E0E3',
      textTransform: 'uppercase'
    }
  },
  xAxis: {
    gridLineColor: '#707073',
    labels: {
      style: {
        color: '#E0E0E3'
      }
    },
    lineColor: '#707073',
    minorGridLineColor: '#505053',
    tickColor: '#707073',
    title: {
      style: {
        color: '#A0A0A3'

      }
    }
  },
  yAxis: {
    gridLineColor: '#707073',
    labels: {
      style: {
        color: '#E0E0E3'
      }
    },
    lineColor: '#707073',
    minorGridLineColor: '#505053',
    tickColor: '#707073',
    tickWidth: 1,
    title: {
      style: {
        color: '#A0A0A3'
      }
    }
  },
  tooltip: {
    backgroundColor: 'rgba(0, 0, 0, 0.85)',
    style: {
      color: '#F0F0F0'
    }
  },
  plotOptions: {
    series: {
      dataLabels: {
        color: '#F0F0F3',
        style: {
          fontSize: '13px'
        }
      },
      marker: {
        lineColor: '#333'
      }
    },
    boxplot: {
      fillColor: '#505053'
    },
    candlestick: {
      lineColor: 'white'
    },
    errorbar: {
      color: 'white'
    }
  },
  legend: {
    backgroundColor: 'rgba(0, 0, 0, 0.5)',
    itemStyle: {
      color: '#E0E0E3'
    },
    itemHoverStyle: {
      color: '#FFF'
    },
    itemHiddenStyle: {
      color: '#606063'
    },
    title: {
      style: {
        color: '#C0C0C0'
      }
    }
  },
  credits: {
    style: {
      color: '#666'
    }
  },
  labels: {
    style: {
      color: '#707073'
    }
  },

  drilldown: {
    activeAxisLabelStyle: {
      color: '#F0F0F3'
    },
    activeDataLabelStyle: {
      color: '#F0F0F3'
    }
  },

  navigation: {
    buttonOptions: {
      symbolStroke: '#DDDDDD',
      theme: {
        fill: '#505053'
      }
    }
  },

  // scroll charts
  rangeSelector: {
    buttonTheme: {
      fill: '#505053',
      stroke: '#000000',
      style: {
        color: '#CCC'
      },
      states: {
        hover: {
          fill: '#707073',
          stroke: '#000000',
          style: {
            color: 'white'
          }
        },
        select: {
          fill: '#000003',
          stroke: '#000000',
          style: {
            color: 'white'
          }
        }
      }
    },
    inputBoxBorderColor: '#505053',
    inputStyle: {
      backgroundColor: '#333',
      color: 'silver'
    },
    labelStyle: {
      color: 'silver'
    }
  },

  navigator: {
    handles: {
      backgroundColor: '#666',
      borderColor: '#AAA'
    },
    outlineColor: '#CCC',
    maskFill: 'rgba(255,255,255,0.1)',
    series: {
      color: '#7798BF',
      lineColor: '#A6C7ED'
    },
    xAxis: {
      gridLineColor: '#505053'
    }
  },

  scrollbar: {
    barBackgroundColor: '#808083',
    barBorderColor: '#808083',
    buttonArrowColor: '#CCC',
    buttonBackgroundColor: '#606063',
    buttonBorderColor: '#606063',
    rifleColor: '#FFF',
    trackBackgroundColor: '#404043',
    trackBorderColor: '#404043'
  }
};
// Apply the theme
Highcharts.setOptions(Highcharts.theme);
// Dark theme setup ends

// begin of chart container setup
Highcharts.chart('depth_graph', {

    title: {
        text: 'Market Depth'
    },

    subtitle: {
        text: 'Will Mexico declare stage 4 emergency today?'
    },

    yAxis: {
        title: {
            text: 'Market Depth'
        }
    },

    xAxis: {
//		max: 1.0,
//		min: 0,
        accessibility: {
            rangeDescription: 'BIDs and ASKs for Market'
        }
    },

    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 0
        }
    },

    series: [{
        name: 'ASKs',
		point: {
			events: {
				click: function() {this.click.call()}
			}
		},
		data: ask_data
	}, {
		name: 'BIDs',
		point: {
			events: {
				click: function() {this.click.call()}
			}
		},
        data: bid_data
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    },
    tooltip: {
      formatter: function() {
		tooltip ="<div>User: "+this.point.addr + "<br/>Price:" + this.point.price +"<br/>Volume: "+this.point.volume+"</div>"
        return tooltip;
      }
    },
});
</script>
</body>
</html>
