<html>
<head>
	<title>{{.title}}</title>
	<link href="../res/main.css" rel="stylesheet">
</head>
<body>
<h3 class="page_title">Order {{.OrderInfo.OrderHashSh}}</h3>
<div class="order_info">
	<table class="order_info">
		<tr>
			<td>Explorer ID</td>
			<td>{{.OrderInfo.OrderId}}</td>
		</tr>
		<tr>
			<td>Order Hash</td>
			<td title="{{.OrderInfo.OrderHash}}">{{.OrderInfo.OrderHash}}</td>
		</tr>
		<tr>
			<td>Market</td>
			<td>
				<a class="addr" href="../market/{{.OrderInfo.MarketAddr}}">{{.OrderInfo.MarketAddrSh}}</a>
			</td>
		<tr>
			<td>Creator</td>
			<td title="{{.OrderInfo.CreatorAddr}}">
				<a class="addr" href="../search?q={{.OrderInfo.CreatorAddr}}">
					{{.OrderInfo.CreatorAddrSh}}
				</a>
				{{- if .OrderInfo.CreatorBuyer }}
					<font color=green><b>BUYER</b></font> 
				{{- else }}
					<font color=red><b>SELLER</b></font> 
				{{- end }}
			</td>
		</tr>
		<tr>
			<td>Filler</td>
			<td title="{{.OrderInfo.FillerAddr}}">
				<a class="addr" href="../search?q={{.OrderInfo.FillerAddr}}">
					{{.OrderInfo.FillerAddrSh}}
				</a>
				{{- if .OrderInfo.FillerBuyer }}
					<font color=green><b>BUYER</b></font> 
				{{- else }}
					<font color=red><b>SELLER</b></font> 
				{{- end }}
			<td>
		</tr>
		<tr>
			<td>Order Type</td>
			<td>{{.OrderInfo.OTypeStr}}</td>
		</tr>
		<tr>
			<td>Date</td>
			<td>{{.OrderInfo.Date}}</td>
		</tr>
		<tr>
			<td>Amount</td>
			<td>{{.OrderInfo.Amount}}</td>
		</tr>
		<tr>
			<td>Price</td>
			<td>{{.OrderInfo.Price}}</td>
		</tr>
	</table>
	<br/>
</div>
<nav>
	<ul>
	<li>
		<a class="btn_link" href="../index.html">Back</a>
		<span></span><span></span><span></span><span></span>
	</li>
</ul>
</nav>
</body>
</html>
