<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Open positions of Users in Polymarkets Market {{.MarketId}}</title>
</head>
<body>
	<h3 class="page_title">Open positions of all Users in market id = {{.MarketId}}</h3>
<table class="market_detail">
</table>
<h3>Current Open Positions</h3>
<table>
	<tr class="market_reports">
		<th class="market_reports" rowspan=2>User</th>
		<th class="market_reports" rowspan=2>OutcomeIdx</th>
		<th class="market_reports" rowspan=2>Balance (USDC)</th>
		<th class="market_reports" rowspan=2>Share TokenId (ERC1155)</th>
		<th class="market_reports" rowspan=2></th>
		<th class="market_reports" colspan=5 style="background-color: #666666">Extended User Trading Information</th>
	</tr>
	<tr class="market_reports">
		<th class="market_reports" style="background-color: #666666">Num Trades(in/out)</th>
		<th class="market_reports" style="background-color: #666666">Total Volume</th>
		<th class="market_reports" style="background-color: #666666">Liquidity Operations</th>
		<th class="market_reports" style="background-color: #666666">(Total) Fees Paid</th>
		<th class="market_reports" style="background-color: #666666">Accum. Profit</th>
	</tr>

	{{- range $i, $change := .OpenPositions}}
		<tr class="market_reports">
			<td class="addr">
				<a href="/black/poly/markets/traderops/{{$.MarketId}}/{{.UserAid}}/0/10000">
					{{.UserAddr}}
				</a>
			</td>
			<td class="market_reports_field" style="text-align: center;">{{.OutcomeIdx}}</td>
			<td class="market_reports_field" style="text-align: right;">{{ printf "%.2f" .CurrentBalance}}</td>
			<td class="addr">{{.TokenId}}</td>
			<td class="addr"><strong>&nbsp;&nbsp;&nbsp;&nbsp;</strong></td>
			</td>
			<td class="market_reports_field" style="text-align: right;">{{.NumTrades}}</td>
			<td class="market_reports_field" style="text-align: right;">{{printf "%.2f" .TotalVolume}}</td>
			<td class="market_reports_field" style="text-align: center;">
				<a href="/black/poly/markets/funderops/{$.MarketId}}/{{.UserAid}}/0/10000">
					{{.NumLiquidityOps}}
				</a>
			</td>
			<td class="market_reports_field" style="text-align: right;">{{printf "%.2f" .TotalFeesPaid}}</td>
			<td class="market_reports_field" style="text-align: right;">{{printf "%.2f" .TotalProfit}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
</body>
