<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Buy/Sell operations for Polymarkets Market {{.MarketId}}</title>
</head>
<body>
	<h3 class="page_title">Buy/Sell operations of market id = {{.MarketId}}</h3>
<table class="market_detail">
</table>
<h3>Operations</h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">Date </th>
		<th class="market_reports">Block</th>
		<th class="market_reports">Type</th>
		<th class="market_reports">Outcome</th>
		<th class="market_reports">Collateral (in/out)</th>
		<th class="market_reports">Fee</th>
		<th class="market_reports">Tokens (in/out)</th>
		<th class="market_reports">User</th>
	</tr>
	{{- range $i, $change := .BuySellOperations}}
		<tr class="market_reports">
			<td class="market_reports_field">
				{{.DateTime}}
			</td>
			<td class="market_reports_field">{{.BlockNum}}</td>
			<td class="market_reports_field">
				{{ if  eq 0 .OperationType}} Buy
				{{ else }} Sell {{end }}
			</td>
			<td class="market_reports_field">{{.OutcomeIdx}}</td>
			<td class="market_reports_field">{{printf "%.4f" .CollateralAmount}}</td>
			<td class="market_reports_field">{{printf "%.4f" .FeeAmount}}</td>
			<td class="market_reports_field">{{printf "%.4f" .TokenAmount}}</td>
			<td class="market_reports_field">{{.UserAddr}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
</body>
