<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Buy/Sell operations for Polymarkets Market {{.PoolInfo.PoolAddr}}</title>
</head>
<body>
	<h3 class="page_title">Swaps of {{.PoolInfo.PoolAddr}}</h3>
<table class="market_detail">
</table>
<h3>Pool Tokens</h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">Date </th>
		<th class="market_reports">Block</th>
		<td class="market_reports">Type</th>
		<td class="market_reports">Outcome</th>
		<td class="market_reports">Collateral (in/out)</th>
		<td class="market_reports">Fee</th>
		<td class="market_reports">Tokens (in/out)</th>
	</tr>
	{{- range $i, $change := .BuySellOperations}}
		<tr class="market_reports">
			<td class="market_reports_field">
				{{.DateTime}}
			</td>
			<td class="market_reports_field">{{.BlockNum}}</td>
			<td class="market_reports_field">
				{{ if 0 eq .OperationType}} Buy
				{{ else }} Sell {{end }}
			</td>
			<td class="market_reports_field">{{.Outcome}}</td>
			<td class="market_reports_field">{{.CollateralAmount}}</td>
			<td class="market_reports_field">{{.FeeAmount}}</td>
			<td class="market_reports_field">{{.TokenAmount}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
</body>
