<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Report Table for Market {{.MarketInfo.MktAddr}}</title>
</head>
<body>
	<h3 class="page_title">Report Table for Market {{.MarketInfo.MktAddr}}<h3>
<p>
{{.MarketInfo.Description}}
</p>
<br/><br/>
<h3>Table of Reporting Rounds</h3>
This table shows dispute rounds sequentially from left to right: <br/>
<table class="report_rounds" style="border: none">
<tr><td>
	<table>
	<tr><td>&nbsp;</br>&nbsp;</td></tr>
	{{- range $i, $rpt := .OutcomesSplit }}
	<tr><td>{{.}}</td></tr>
	{{ end }}
	<tr><td>&nbsp;</td></tr>
	<tr><td>Total Market REP</td></tr>
	</table>
</td>
<td>
<table class="report_rounds">
	<tr class="market_trades">
		{{- range $i, $rpt := .RoundTable }}
		<td style="text-align:center">
			{{ if eq 1 .Rounds.RoundNum }}
			Initial Round
			{{ else }}
			Round {{.Rounds.RoundNum}}
			{{ end }}
			<br/>
			{{.Rounds.DateTime}}
			<table>
		{{- range $i, $rpt := .Rounds.ORounds}}
			<tr>
				<td style="text-align: right">
					{{ if eq true .PacingOn }}
					<img src="/black/imgs/stopsign.png">
					{{ end }}
					{{ if eq true .Color }}
					<font color="#fa5b84"><b>
					{{ end }}
					{{ printf "%.2f" .RepPayout}}
					{{ if eq true .Color }}
						</b></font>
					{{ end }}
					<br/>
				</td>
			</tr>
			<tr><td>
			</td></tr>
		{{- end}}
		<tr><td>&nbsp;</td></tr>
		<tr><td style="text-align: right">{{ printf "%.2f" .Rounds.MarketRep}}</td></tr>
			</table>
		</td>
		{{- end}}
	</tr>
</table>
</td>
</tr>
</table>
<br/><br/>
<div class="market_info">
<table class="market_trades">
	<tr class="market_trades">
		<td class="mkt_trade_hdr" style="text-align: center" >Initial Report</td>
		<td class="mkt_trade_hdr" style="text-align: center">Disputes</td>
	</tr>
	<tr>
		<td class="mkt_trade_field" style="vertical-align: top">
			<table>
				<tr class="market_trades">
					<td class="mkt_trade_field">Initial Reporter</td>
					<td class="mkt_trade_field">{{.ReportingTable.InitialReport.InitialReporterAddr}}</td>
				</tr>
				<tr class="market_trades">
					<td class="mkt_trade_field">Reporter</td>
					<td class="mkt_trade_field">{{.ReportingTable.InitialReport.ActualReporterAddr}}</td>
				</tr>
				<tr class="market_trades">
					<td class="mkt_trade_field">Date Submitted</td>
					<td class="mkt_trade_field">{{.ReportingTable.InitialReport.DateTime}}</td>
				</tr>
				<tr class="market_trades">
					<td class="mkt_trade_field">Is Designated?</td>
					<td class="mkt_trade_field">{{.ReportingTable.InitialReport.IsDesignated}}</td>
				</tr>
				<tr class="market_trades">
					<td class="mkt_trade_field">
						Outcome 
						{{.ReportingTable.InitialReport.OutcomeStr}}
						({{.ReportingTable.InitialReport.OutcomeIdx}})
					</td>
					<td class="mkt_trade_field">{{.ReportingTable.InitialReport.IsDesignated}}</td>
				</tr>
				<tr class="market_trades">
					<td class="mkt_trade_field">Amount Staked</td>
					<td class="mkt_trade_field">{{.ReportingTable.InitialReport.AmountStaked}}</td>
				</tr>
				<tr class="market_trades">
					<td class="mkt_trade_field">Transaction Hash</td>
					<td class="mkt_trade_field">
						<a href="/black/search?q={{.ReportingTable.InitialReport.TxHash}}">
							{{.ReportingTable.InitialReport.TxHashSh}}
						</a>
						(<a href="https://etherscan.io/tx/{{.ReportingTable.InitialReport.TxHash}}">
							Etherscan link
						</a>)
					</td>
				</tr>
			</table>
		</td>
		<td class="mkt_trade_field">
			<table>
				<tr>
					{{- range $i, $rpt := .ReportingTable.Disputes }}
					<td style="vertical-align: top">
						<table>
							<tr class="market_trades">
								<td class="mkt_trade_field">Date Created</td>
								<td>{{.CreatedDate}}</td>
							</tr>
							<tr class="market_trades">
								<td class="mkt_trade_field">Date Completed</td>
								<td>{{.CompletedDate}}</td>
							</tr>
							<tr class="market_trades">
								<td class="mkt_trade_field">Outcome</td>
								<td class="mkt_trade_field">{{.OutcomeStr}}</td>
							</tr>
							<tr class="market_trades">
								<td class="mkt_trade_field" title="{{.CrowdsourcerAid}}">Round</td>
								<td class="mkt_trade_field">{{.DisputeRoundEnd}}</td>
							</tr>
							<tr class="market_trades">
								<td class="mkt_trade_field">Minmium Dispute Size</td>
								<td class="mkt_trade_field">{{ printf "%.3f" .MinDisputeSize}}</td>
							</tr>
							<tr class="market_trades">
								<td class="mkt_trade_field">Creation Transaction Hash</td>
								<td class="mkt_trade_field">
									<a href="/black/search?q={{.CreatedTxHash}}">
										{{.CreatedTxHashSh}}
									</a>
									(<a href="https://etherscan.io/tx/{{.CreatedTxHash}}">
										Etherscan link
									</a>)
								</td>
							</tr>
							<tr class="market_trades">
								<td class="mkt_trade_field">Completion Transaction Hash</td>
								<td class="mkt_trade_field">
									<a href="/black/search?q={{.CompletedTxHash}}">
										{{.CompletedTxHashSh}}
									</a>
									(<a href="https://etherscan.io/tx/{{.CompletedTxHash}}">
										Etherscan link
									</a>)
								</td>
							</tr>
							<tr>
								<td class="mkt_trade_field contributions" colspan=2>
									{{template "dispute_contributions.html" .Contributions}}
								</td>
							</tr>
						</table>
					</td>
					{{- end}}
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>
</body>
