<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Report Table for Market {{.MarketInfo.MktAddr}}</title>
</head>
<body>
	<h3 class="page_title">Report Table for Market {{.MarketInfo.MktAddr}}<h3>
<p>
{{.MarketInfo.Description}}
</p>
<br/><br/>
<h3>Table of Reporting Rounds</h3>
This table shows dispute rounds sequentially from left to right: <br/>
<table class="report_rounds" style="border: none">
	<tr>
		<td style="vertical-align: top; padding-top: 1em;">
			<table>
				<tr><td style="vertical-align: top">
						&nbsp;</br>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>
						<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>
						{{ if eq 2 .MarketInfo.MktType }}
						&nbsp;<br/>&nbsp;<br/>
						{{ end }}
				</td></tr>
			{{ if eq 2 .MarketInfo.MktType }}
				<tr><td>Invalid</td>
				{{- range $i, $val := .ScalarValues }}
				<tr><td>Scalar Value {{.}}</td></tr>
				{{- end }}
			{{ else }}
				{{- range $i, $rpt := .OutcomesSplit }}
				<tr><td>{{.}}</td></tr>
				{{ end }}
			{{ end }}
			<tr><td>&nbsp;</td></tr>

			<tr><td>Total Market REP</td></tr>
			</table>
		</td>
		<td style="vertical-align: top">
			<table class="report_rounds">
				<tr>
					{{- range $i, $rpt := .RoundTable }}
					{{ if gt .Rounds.WindowNum 0 }}
					<td colspan={{.Rounds.WindowSpan}} style="text-align: center; vertical-align: top">
						Window {{.Rounds.WindowNum}}<br/>
						{{.Rounds.WindowStartDate}} - {{.Rounds.WindowEndDate}}
					</td>
					{{- end }}
					{{- end }}
				</tr>
				<tr class="market_trades">
					{{- range $i, $rpt := .RoundTable }}
					<td style="text-align:center; vertical-align: top">
						{{ if eq -1 .Rounds.RoundNum }}
						Initial Round
						{{ else }}
						Round {{.Rounds.RoundNum}}
						{{ end }}
						<br/>
						{{ if eq 2 .Rounds.MktType }}
						Scalar Value : {{.Rounds.ScalarValue }} <br/>
						{{ end }}
						Started: {{.Rounds.DateTime}}
						<br/>
						Completed: {{.Rounds.CompletedDate}}
						<br/>
						{{ if eq false .Rounds.Completed }}
						Status: <font color=red><b>Incomplete</b></font>
						{{ else }}
						Status: <font color=green><b>Completed</b></font>
						{{ end }}
						<table>
							{{- range $i, $rpt := .Rounds.ORounds}}
								<tr>
									<td style="text-align: right">
										{{ if eq true .PacingOn }}
										<img src="/black/imgs/stopsign.png">
										{{ end }}
										{{ if eq true .Color }}
										<font color="#fa5b84"><b>
										{{ end }}
										{{ printf "%.2f" .RepPayout}}
										{{ if eq true .Color }}
											</b></font>
										{{ end }}
										<br/>
									</td>
								</tr>
								<tr><td>
								</td></tr>
							{{- end}}
								<tr><td>&nbsp;</td></tr>
								<tr>
									<td style="text-align: right">
										{{ printf "%.2f" .Rounds.MarketRep}}
									</td>
								</tr>
						</table>
					</td>
					{{- end}}
				</tr>
			</table>
		</td>
	</tr>
</table>
<br/><br/>
<div class="market_info">
<table class="market_trades">
	<tr class="market_trades">
		<td class="mkt_trade_hdr" style="text-align: center" >Initial Report</td>
		<td class="mkt_trade_hdr" style="text-align: center">Disputes</td>
	</tr>
	<tr>
		<td class="mkt_trade_field" style="vertical-align: top">
			<table>
				<tr class="market_trades">
					<td class="mkt_trade_field">Initial Reporter</td>
					<td class="mkt_trade_field">{{.ReportingTable.InitialReport.InitialReporterAddr}}</td>
				</tr>
				<tr class="market_trades">
					<td class="mkt_trade_field">Reporter</td>
					<td class="mkt_trade_field">{{.ReportingTable.InitialReport.ActualReporterAddr}}</td>
				</tr>
				<tr class="market_trades">
					<td class="mkt_trade_field">Date Submitted</td>
					<td class="mkt_trade_field">{{.ReportingTable.InitialReport.DateTime}}</td>
				</tr>
				<tr class="market_trades">
					<td class="mkt_trade_field">Is Designated?</td>
					<td class="mkt_trade_field">{{.ReportingTable.InitialReport.IsDesignated}}</td>
				</tr>
				<tr class="market_trades">
					<td class="mkt_trade_field">
						Outcome
					</td>
					<td class="mkt_trade_field">
						{{.ReportingTable.InitialReport.OutcomeStr}}
						({{.ReportingTable.InitialReport.OutcomeIdx}})
					</td>
				</tr>
				{{ if eq 2 .ReportingTable.InitialReport.MktType }}
				<tr class="market_trades">
					<td class="mkt_trade_field">
						Scalar Value
					</td>
					<td class="mkt_trade_field">
						{{.ReportingTable.InitialReport.ScalarValue }}
					</td>
				</tr>
				{{ end }}
				<tr class="market_trades">
					<td class="mkt_trade_field">Amount Staked</td>
					<td class="mkt_trade_field">{{.ReportingTable.InitialReport.AmountStaked}}</td>
				</tr>
				<tr class="market_trades">
					<td class="mkt_trade_field">Transaction Hash</td>
					<td class="mkt_trade_field">
						<a href="/black/search?q={{.ReportingTable.InitialReport.TxHash}}">
							{{.ReportingTable.InitialReport.TxHashSh}}
						</a>
						(<a href="https://etherscan.io/tx/{{.ReportingTable.InitialReport.TxHash}}">
							Etherscan link
						</a>)
					</td>
				</tr>
			</table>
			{{ if .RedeemIniReporter }}
			<br/>
			<br/>
			<h4>Initial Reporter was redeemed:</h4>
			<table>
				<tr>
					<td>Date Redemed</td>
					<td>{{ .RedeemIniReporter.DateTime }}</td>
				</tr>
				<tr>
					<td>Reporter</td>
					<td>{{ .RedeemIniReporter.ReporterAddr }}</td>
				</tr>
				<tr>
					<td>Initial Reporter</td>
					<td>{{ .RedeemIniReporter.InitialReporterAddr }}</td>
				</tr>
				<tr>
					<td>Outcome</td>
					<td>{{ .RedeemIniReporter.OutcomeStr }}
						({{.RedeemIniReporter.OutcomeIdx }})
					</td>
				</tr>
				{{ if eq 2 .RedeemIniReporter.MktType }}
				<tr class="market_trades">
					<td class="mkt_trade_field">
						Scalar Value
					</td>
					<td class="mkt_trade_field">
						{{.RedeemIniReporter.ScalarValue }}
					</td>
				</tr>
				{{ end }}
				<tr>
					<td>Amount</td>
					<td>{{ .RedeemIniReporter.Amount }}</td>
				</tr>
				<tr>
					<td>REP Received</td>
					<td>{{ .RedeemIniReporter.RepReceived }}</td>
				</tr>
				<tr>
					<td>Tx Hash</td>
					<td>
						<a href="/black/search?q={{.RedeemIniReporter.TxHash}}">
							{{.RedeemIniReporter.TxHashSh}}
						</a>
						(<a href="https://etherscan.io/tx/{{.RedeemIniReporter.TxHash}}">
							Etherscan link
						</a>)
					</td>
				</tr>
			</table>
			{{ end }}
		</td>
		<td class="mkt_trade_field">
			<table>
				<tr>
					{{- range $i, $rpt := .ReportingTable.Disputes }}
					<td style="vertical-align: top">
						<table>
							<tr class="market_trades">
								<td class="mkt_trade_field">Date Created</td>
								<td>{{.CreatedDate}}</td>
							</tr>
							<tr class="market_trades">
								<td class="mkt_trade_field">Date Completed</td>
								<td>{{.CompletedDate}}</td>
							</tr>
							<tr class="market_trades">
								<td class="mkt_trade_field">Outcome</td>
								<td class="mkt_trade_field">{{.OutcomeStr}}</td>
							</tr>
							{{ if eq 2 .MktType }}
							<tr class="market_trades">
								<td class="mkt_trade_field">
									Scalar Value
								</td>
								<td class="mkt_trade_field">
									{{.ScalarValue }}
								</td>
							</tr>
							{{ end }}
							<tr class="market_trades">
								<td class="mkt_trade_field" title="{{.CrowdsourcerAid}}">Round</td>
								<td class="mkt_trade_field">{{.DisputeRoundEnd}}</td>
							</tr>
							<tr class="market_trades">
								<td class="mkt_trade_field">Minimum Dispute Size</td>
								<td class="mkt_trade_field">{{ printf "%.3f" .MinDisputeSize}}</td>
							</tr>
							<tr class="market_trades">
								<td class="mkt_trade_field">Creation Transaction Hash</td>
								<td class="mkt_trade_field">
									<a href="/black/search?q={{.CreatedTxHash}}">
										{{.CreatedTxHashSh}}
									</a>
									(<a href="https://etherscan.io/tx/{{.CreatedTxHash}}">
										Etherscan link
									</a>)
								</td>
							</tr>
							<tr class="market_trades">
								<td class="mkt_trade_field">Completion Transaction Hash</td>
								<td class="mkt_trade_field">
									<a href="/black/search?q={{.CompletedTxHash}}">
										{{.CompletedTxHashSh}}
									</a>
									(<a href="https://etherscan.io/tx/{{.CompletedTxHash}}">
										Etherscan link
									</a>)
								</td>
							</tr>
							<tr>
								<td class="mkt_trade_field contributions" colspan=2>
									{{template "dispute_contributions.html" .Contributions}}
								</td>
							</tr>
						</table>
					</td>
					{{- end}}
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>
<div>
	<h4>Redeemed reporting participants</h4>
	Lists all the reports of those participants who have made profits in reporting activity:
	<table class="market_trades">
		<tr class="market_trades">
			{{- range $i, $rpt := .WinningReports }}
			<td style="text-align:center">
				<table class="market_trades">
				<tr>
					<td style="text-align: right">DateTime</td>
					<td>{{.DateTime}}</td>
				</tr>
				<tr>
					<td>Reporter</td>
					<td>{{.ReporterAddr}}</td>
				</tr>
				<tr>
					<td>Outcome</td>
					<td>{{.OutcomeStr}} ({{.OutcomeIdx}})</td>
				</tr>
				<tr>
					<td>REP invested</td>
					<td>{{.RepInvested }}</td>
				</tr>
				<tr>
					<td>Profit</td>
					<td>{{ printf "%.2f" .Profit }}</td>
				</tr>
				<tr>
					<td>REP Returned</td>
					<td>{{.RepReturned}}</td>
				</tr>
				</table>
			</td>
			{{- end}}
		</tr>
	</table>
</div>
<br/><br/><br/>
<div>
	<h4>Losing participants</h4>
	Lists all the reports of those participants who have lost in reporting activity by providing incorrect outcome report:
	<table class="market_trades">
		<tr class="market_trades">
			{{- range $i, $rpt := .LosingReports }}
			<td style="text-align:center">
				<table class="market_trades">
				<tr>
					<td style="text-align: right">DateTime</td>
					<td>{{.DateTime}}</td>
				</tr>
				<tr>
					<td style="text-align: right">Reporter</td>
					<td>{{.ReporterAddr}}</td>
				</tr>
				<tr>
					<td style="text-align: right">Amount lost</td>
					<td>{{.RepLost}}</td>
				</tr>
				<tr class="market_trades">
					<td class="mkt_trade_field">Transaction Hash</td>
					<td class="mkt_trade_field">
						<a href="/black/search?q={{.TxHash}}">
							{{.TxHashSh}}
						</a>
						(<a href="https://etherscan.io/tx/{{.TxHash}}">
							Etherscan link
						</a>)
					</td>
				</tr>
				</table>
			</td>
			{{- end}}
		</tr>
	</table>
	<br/><br/><br/>
</div>
</body>
</html>
