<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Uniswap Pair Swap Slippage for Pair {{.PairInfo.PairAddr}}</title>
</head>
<body>
<h3 class="page_title">Uniswap Pair Slippage Table</h3>
<table class="market_detail">
<tr>
	<td>Pair Address:</td>
	<td>{{.PairInfo.PairAddr}}</td>
</tr>
</table>
<br/><br/>
<div class="market_info">
	Table of slippage costs for a trade of {{.AmountToTrade}} token units (including Uniswap commission)
	<br/>
<table class="market_trades">
	<tr class="market_trades">
		<th class="mkt_trade_hdr" style="text-align: center" nowrap>Token 1</th>
		<th class="mkt_trade_hdr" style="text-align: center" nowrap>Symbol 1</th>
		<th class="mkt_trade_hdr" style="text-align: center" nowrap>Token 2</th>
		<th class="mkt_trade_hdr" style="text-align: center" nowrap>Symbol 2</th>
		<th class="mkt_trade_hdr" style="text-align: center">Amount to trade</th>
		<th class="mkt_trade_hdr" style="text-align: center">You will receive</th>
		<th class="mkt_trade_hdr" style="text-align: center">Slippage (Swap cost)</th>

	</tr>
	{{- range $i, $record := .TokenSlippage}}
	<tr class="market_trades">
		<td class="mkt_trade_field">{{.Token1Addr}}</td>
		<td class="mkt_trade_field">{{.Token1Symbol}}</td>
		<td class="mkt_trade_field">{{.Token2Addr}}</td>
		<td class="mkt_trade_field">{{.Token2Symbol}}</td>
		<td class="mkt_trade_field" nowrap>{{.AmountIn}} {{.Token1Symbol}} </td>
		<td class="mkt_trade_field" nowrap>{{ printf "%.4f" .AmountOut}} {{.Token2Symbol}}</td>
		<td class="mkt_trade_field" nowrap>{{ printf "%.4f" .Slippage}} {{.Token1Symbol}} </td>
	</tr>
	{{- end}}
</table>
</div>
</body>
