<html>
<head>
	<title>{{.title}}</title>
	<link href="/black/res/main.css" rel="stylesheet">
</head>
<body>
<script src="/black/res/darktheme.js"></script>
<script src="/black/res/ajax.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script>
	var eoa_addr = '{{.UserInfo.Addr}}'
	function load_pl_data(pl_id,claim_status,net_pos,price,profit_loss,accum_pl,mkt_addr,mkt_addr_sh,outcome,
							mkt_descr,date_str,counterparty,counterparty_sh,order_hash,block_num) {
		var elt
		elt = document.getElementById("order_info")
		elt.style.display="block"
		elt = document.getElementById("f2_fld_net_pos")
		if (net_pos < 0 ) {
			elt.innerHTML = 'Short ' + Math.abs(net_pos) + ' shares'
		} else {
			if (net_pos > 0 ) {
				elt.innerHTML = 'Long ' + net_pos + ' shares'
			} else {
				elt.innerHTML = "0"
			}
		}
		console.log("net_pos = " + net_pos + ", innerhtml="+elt.innerHTML)
		elt = document.getElementById("f2_fld_price")
		elt.innerHTML = price
		elt = document.getElementById("f2_fld_profit_loss")
		elt.innerHTML =profit_loss
		elt = document.getElementById("f2_fld_accum_pl")
		elt.innerHTML = accum_pl
		elt = document.getElementById("f2_fld_mkt_addr")
		elt.innerHTML = mkt_addr
		elt = document.getElementById("f2_fld_outcome")
		elt.innerHTML = outcome
		elt = document.getElementById("f2_fld_mkt_descr")
		elt.innerHTML = mkt_descr
		elt = document.getElementById("f2_fld_date")
		elt.innerHTML = date_str
		elt = document.getElementById("f2_fld_counterparty")
		elt.innerHTML = counterparty
		elt = document.getElementById("f2_fld_order_hash")
		elt.innerHTML = order_hash
		elt.setAttribute('title',pl_id);
		elt = document.getElementById("f2_fld_block_num")
		elt.innerHTML = block_num
		elt = document.getElementById("f2_fld_claim_status")
		if (profit_loss != 0) {
			if (claim_status == 0) {
				elt.innerHTML = "Loss. Claim not required"
			}
			if (claim_status == 1) {
				elt.innerHTML = "<font color=\"yellow\"><b>Claim Pending</b></font>"
			}
			if (claim_status == 2) {
				elt.innerHTML = "<font color=\"green\"><b>Claimed</b></font>"
			}
		} else {
			elt.innerHTML = "N/A"
		}
		// setup links
		elt = document.getElementById("f2_market_href")
		elt.href="market/" + mkt_addr
		elt = document.getElementById("f2_counterparty_href")
		elt.href="search?q=" + counterparty
		elt = document.getElementById("f2_order_hash_href")
		elt.href="order/" + order_hash
	}
	function load_open_pos_data(price,frozen,net_position,mkt_addr,mkt_addr_sh,outcome,
				mkt_descr,date_str,counterparty,counterparty_sh,order_hash,block_num) {
		var elt
		elt = document.getElementById("open_pos_info")
		elt.style.display="block"
		elt = document.getElementById("f1_fld_price")
		elt.innerHTML = price
		elt = document.getElementById("f1_fld_funds_frozen")
		if (frozen < 0) {
			frozen = frozen + "<font color=#ff9900> <b>&nbsp;&nbsp; (HEDGING POSITION)</b> </font>"
		}
		elt.innerHTML = frozen
		elt = document.getElementById("f1_fld_net_position")
		if (net_position < 0 ) {
			elt.innerHTML = 'Short ' + Math.abs(net_position) + ' shares'
		} else {
			elt.innerHTML = 'Long ' + net_position + ' shares'
		}
		elt = document.getElementById("f1_fld_mkt_addr")
		elt.innerHTML = mkt_addr
		elt = document.getElementById("f1_fld_outcome")
		elt.innerHTML = outcome
		elt = document.getElementById("f1_fld_mkt_descr")
		elt.innerHTML = mkt_descr
		elt = document.getElementById("f1_fld_date")
		elt.innerHTML = date_str
		elt = document.getElementById("f1_fld_counterparty")
		elt.innerHTML = counterparty
		elt = document.getElementById("f1_fld_order_hash")
		elt.innerHTML = order_hash
		elt = document.getElementById("f1_fld_block_num")
		elt.innerHTML = block_num
		// setup links
		elt = document.getElementById("f1_market_href")
		elt.href="market/" + mkt_addr
		elt = document.getElementById("f1_counterparty_href")
		elt.href="search?q=" + counterparty
		elt = document.getElementById("f1_order_hash_href")
		elt.href="order/" + order_hash
	}
	var open_positions_data = {{.JSOpenPosData}}
	var profit_loss_data = {{.JSPLData}}
	Ajax_GET('money/'+eoa_addr,function(data) {
		var response=JSON.parse(data)
		var elt
		elt = document.getElementById("fld_eoa_dai")
		elt.innerHTML=response.eoa_dai
		elt = document.getElementById("fld_wallet_dai")
		elt.innerHTML=response.wallet_dai
		elt = document.getElementById("fld_eoa_rep")
		elt.innerHTML=response.eoa_rep
		elt = document.getElementById("fld_wallet_rep")
		elt.innerHTML=response.wallet_rep
		elt = document.getElementById("fld_eoa_eth")
		elt.innerHTML=response.eoa_eth
		elt = document.getElementById("fld_wallet_eth")
		elt.innerHTML=response.wallet_eth
	});
</script>
	<h3 class="page_title">User Info for {{.UserInfo.AddrSh}}</h3>
	{{ if .UserInfo.AugurFlags.AugurEnabled }}
	{{ else }}
		<h5><font>(This account doesn't have the set of Approvals required to trade at Augur Platform)</font></h5>
		Current Approval list:
		<table>
			<tr>
				<td>Approval for 0x at DAI</td>
				<td>{{ if .UserInfo.AugurFlags.ZeroXOnCash }}Yes{{else}}No{{end}}</td>
			</tr>
			<tr>
				<td>Approval for FillOrder at DAI</td>
				<td>{{ if .UserInfo.AugurFlags.FillOnCash}}Yes{{else}}No{{end}}</td>
			</tr>
			<tr>
				<td>ApprovalForAll for FillOrder at ShareToken</td>
				<td>{{ if .UserInfo.AugurFlags.FillOnShareToken}}Yes{{else}}No{{end}}</td>
			</tr>
		</table>
	{{ end }}
<div class="user_info">
	<table class="user_info">
		<tr class="user_info">
			<td>Account type</td>
			<td title="">
				{{ if lt 0 .UserInfo.WalletAid }}
					EOA (Externally Owned Account)
				{{ else }}
					{{ if lt 0 .UserInfo.EOAAid }}
						Augur Wallet Contract
					{{ else }}
						EOA (Externally Owned Account)
					{{ end }}
				{{ end }}
			<td>
		</tr>
		<tr class="user_info">
			<td>Account Address</td>
			<td class="addr" title="{{.UserInfo.Aid}}:{{.UserInfo.Addr}}">{{.UserInfo.Addr}}</td>
		</tr>
		{{ if ne 0 .UserInfo.EOAAid }}
		<tr class="user_info">
			<td>Related EOA account</td>
			<td title="" class="addr">
				<a href="/black/search?q={{.UserInfo.EOAAddr}}">{{.UserInfo.EOAAddr }}</a>
			<td>
		</tr>
		{{ end }}
		{{ if ne 0 .UserInfo.WalletAid }}
		<tr class="user_info">
			<td>Related Wallet contract</td>
			<td title="" class="addr">
				<a href="/black/search?q={{.UserInfo.WalletAddr}}">{{.UserInfo.WalletAddr}}</a>
			<td>
		</tr>
		{{ end }}
		<tr class="user_info">
			<td>Lifetime Profit/Loss (DAI)</td>
			<td title="" class="right">{{.UserInfo.ProfitLoss}}<td>
		</tr>
		<tr class="user_info">
			<td>Total Trades</td>
			<td class="right">{{.UserInfo.TotalTrades}}</td>
		</tr>
		<tr class="user_info">
			<td>Markets Created</td>
			<td class="right"><a href="umarkets/{{.UserInfo.Addr}}">{{.UserInfo.MarketsCreated}}</a></td>
		</tr>
		<tr class="user_info">
			<td>Markets Traded</td>
			<td class="right">{{.UserInfo.MarketsTraded}}</td>
		</tr>
		<tr class="user_info">
			<td>Withdrawal Requests</td>
			<td class="right">{{.UserInfo.WithdrawReqs}}</td>
		</tr>
		<tr class="user_info">
			<td>Deposit Requests</td>
			<td class="right">{{.UserInfo.DepositReqs}}</td>
		</tr>
		<tr class="user_info">
			<td>Total Reports</td>
			<td class="right"><a href="fullreports/{{.UserInfo.Addr}}">{{.UserInfo.TotalReports}}</a></td>
		</tr>
		<tr class="user_info">
			<td>Reports as Designated Reporter</td>
			<td class="right">{{.UserInfo.TotalDesignated}}</td>
		</tr>
		<tr class="user_info">
			<td>Profit in Affiliate Commissions</td>
			<td class="right">{{.UserInfo.AffProfits}}</td>
		</tr>
		<tr class="user_info">
			<td title="Sum of all funds this user has bet at this moment on the markets" >Money At Stake (DAI)</td>
			<td class="right">
				{{ if .UserInfo.HedgingProfits }}
					<font color=#ff9900> (PROFIT FROM HEDGING) &nbsp;&nbsp; </font>
				{{ end }}
				{{.UserInfo.MoneyAtStake}}
			</td>
		</tr>
		<tr class="user_info">
			<td>Unclaimed Profits</td>
			<td class="right">{{.UserInfo.UnclaimedProfit}}</td>
		</tr>
		<tr class="user_info">
			<td>Money in Validity Bonds (DAI)</td>
			<td class="right" title="Sum of all funds frozen in Validity Bonds for all Markets created by the User">{{.UserInfo.ValidityBonds}}</td>
		</tr>
		<tr class="user_info">
			<td>Total Deposited (DAI)</td>
			<td class="right">{{.UserInfo.TotalDeposited}}</td>
		</tr>
		<tr class="user_info">
			<td>Total Withdrawn (DAI)</td>
			<td class="right">{{.UserInfo.TotalWithdrawn}}</td>
		</tr>
		<tr class="user_info">
			<td>Trade Frequencey Rank</td>
			<td class="right">Top {{.UserInfo.TopTrades}}% of all users</td>
		</tr>
		<tr class="user_info">
			<td>Profitability Rank</td>
			<td class="right">Top {{.UserInfo.TopProfit}}% of all users</td>
		</tr>
		<tr class="user_info">
			<td>User funds</td>
			<td>
				<table border=1>
					<tr>
						<td></td>
						<td>Real User (EOA)</td>
						<td>User's Augur Wallet</td>
					</tr>
					<tr>
						<td>DAI</td>
						<td><span id="fld_eoa_dai"></span></td>
						<td><span id="fld_wallet_dai"></span></td>
					</tr>
					<tr>
						<td>REP</td>
						<td><span id="fld_eoa_rep"></span></td>
						<td><span id="fld_wallet_rep"></span></td>
					</tr>
					<tr>
						<td>ETH</td>
						<td><span id="fld_eoa_eth"></span></td>
						<td><span id="fld_wallet_eth"></span></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr class="user_info">
			<td>Gas Spent</td>
			<td>
				<table border=1>
					<tr>
						<td></td>
						<td>Gas Used</td>
						<td>Tx Fee (ETH)</td>
					</tr>
					<tr>
						<td>Market Creation</td>
						<td>{{.GasSpent.Markets}}</td>
						<td>{{.GasSpent.EthMarkets}}</td>
					</tr>
					<tr>
						<td>Trading Markets</td>
						<td>{{.GasSpent.Trading}}</td>
						<td>{{.GasSpent.EthTrading}}</td>
					</tr>
					<tr>
						<td>Reporting</td>
						<td>{{.GasSpent.Reporting}}</td>
						<td>{{.GasSpent.EthReporting}}</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr class="user_info">
			<td>User registered</td>
			<td><span id="reg_date"></span></td>
		</tr>
		<tr class="user_info">
			<td>Registration Block Number</td>
			<td><a href="block/{{.UserInfo.BlockNum}}">{{.UserInfo.BlockNum}}</a></td>
		</tr>
		<tr class="user_info">
			<td>Decentralized Finance trading (DeFi)</td>
			<td>
				<table border=1>
					<tr>
						<td>Swaps at Balancer</td>
						<td>Swaps at Uniswap</td>
					</tr>
					<tr>
						<td>{{.UserInfo.BalancerNumSwaps}}</td>
						<td>{{.UserInfo.UniswapNumSwaps}}</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<br/>
</div>
<h3>User's Open (Un-filled) Orders</h3>
{{template "user_open_orders" .OpenOrders}}
<br/><br/>
<span class="user_info_generic">Account's Frozen Funds:</span><br/><br/>
<div id="open_positions_chart"></div>
<div id="open_pos_info" class="user_info_generic" style="display: none;">
	<h3>Open Position Info:</h3>
	<table class="open_pos_info">
		<tr class="open_pos_info">
			<td>Funds Frozen</td>
			<td><span id="f1_fld_funds_frozen"></span></td>
		</tr>
		<tr class="open_pos_info">
			<td>Position Size </td>
			<td><span id="f1_fld_net_position"></span></td>
		</tr>
		<tr class="open_pos_info">
			<td>Price </td>
			<td><span id="f1_fld_price"></span></td>
		</tr>
		<tr class="open_pos_info">
			<td>Market Address</td>
			<td>
				<a href="" class="addr" id="f1_market_href">
					<span id="f1_fld_mkt_addr"></span>
				</a>
			</td>
		</tr>
		<tr class="open_pos_info">
			<td>Outcome</td>
			<td><span id="f1_fld_outcome"></span></td>
		</tr>
		<tr class="open_pos_info">
			<td>Market Description</td>
			<td><span id="f1_fld_mkt_descr"></span></td>
		</tr>
		<tr class="open_pos_info">
			<td>Date:</td>
			<td><span id="f1_fld_date"></span></td>
		</tr>
		<tr class="open_pos_info">
			<td>Counterparty</td>
			<td>
				<a href="" class="addr" id="f1_counterparty_href">
					<span id="f1_fld_counterparty"></span>
				</a>
			</td>
		</tr>
		<tr class="open_pos_info">
			<td>Order Hash</td>
			<td>
				<a href="" class="addr" id="f1_order_hash_href">
					<span id="f1_fld_order_hash"></span>
				</a>
			</td>
		</tr>
		<tr class="open_pos_info">
			<td>Block number</td>
			<td><span id="f1_fld_block_num"></span></td>
		</tr>
	</table>
</div>
<br/><br/>
{{ if .HasActiveMarkets }}
	User is currently trading these markets:
	<form action="umtrades.html" type=GET>
		<select name="market">
			<option selected>------</option>
				{{- range $i, $market := .UserActiveMarkets}}
				<option value="{{$market.MktAddr}}">{{ $market.MktAddr }}</option>
				{{- end }}
		</select>
		<input type="hidden" name="addr" value="{{.UserInfo.Addr}}">
		<input type="submit" value="Submit">
	</form>
{{ end }}
<div class="user_info_generic">User Profit/Loss history:</span><br/><br/>
<div id="profit_loss_chart"></div>
<div id="order_info" style="display: none;">
	<h3>Order details:</h3>
	<table class="profit_loss_order_detail">
		<tr class="profit_loss_order_detail">
			<td>Total Position Size</td>
			<td><span id="f2_fld_net_pos"></span></td>
		</tr>
		<tr class="profit_loss_order_detail">
			<td>Price</td>
			<td><span id="f2_fld_price"></span></td>
		</tr>
		<tr class="profit_loss_order_detail">
			<td>Profit/Loss in this trade</td>
			<td><span id="f2_fld_profit_loss"></span></td>
		</tr>
		<tr class="profit_loss_order_detail">
			<td>Accumulated Profit/Loss</td>
			<td><span id="f2_fld_accum_pl"></span></td>
		</tr>
		<tr class="profit_loss_order_detail">
			<td>Claim Status</td>
			<td><span id="f2_fld_claim_status"></span></td>
		</tr>
		<tr class="profit_loss_order_detail">
			<td>Market Address</td>
			<td>
				<a href="" class="addr" id="f2_market_href">
					<span id="f2_fld_mkt_addr"></span>
				</a>
			</td>
		</tr>
		<tr class="profit_loss_order_detail">
			<td>Outcome</td>
			<td><span id="f2_fld_outcome"></span></td>
		</tr>
		<tr class="profit_loss_order_detail">
			<td>Market Description</td>
			<td><span id="f2_fld_mkt_descr"></span></td>
		</tr>
		<tr class="profit_loss_order_detail">
			<td>Date:</td>
			<td><span id="f2_fld_date"></span></td>
		</tr>
		<tr class="profit_loss_order_detail">
			<td>Counterparty</td>
			<td>
				<a href="" class="addr" id="f2_counterparty_href">
					<span id="f2_fld_counterparty"></span>
				</a>
			</td>
		</tr>
		<tr class="profit_loss_order_detail">
			<td>Order hash</td>
			<td>
				<a href="" class="addr" id="f2_order_hash_href">
					<span id="f2_fld_order_hash"></span>
				</a>
			</td>
		</tr>
		<tr class="profit_loss_order_detail">
			<td>Block number</td>
			<td><span id="f2_fld_block_num"></span></td>
		</tr>
	</table>
</div>
<br/><br/>
<h3>User's participation in Reporting</h3>
<div id="user_reporting">
	{{template "user_reports" .UserReports}}
</div>
	<nav id="market_trades_nav">
		<ul>
			<li style="float: left">
				<a class="btn_link" href="fullreports/{{.UserInfo.Addr}}">All Reports</a>
				<span></span><span></span><span></span><span></span>
			</li>
		</ul>
	</nav>

{{ if .ShtokBalances}}
	User has the following balances in ERC20 market outcomes:
<table>
	<tr class="market_reports">
		<th class="market_reports">Address</th>
		<th class="market_reports">Symbol</th>
		<td class="market_reports">Num Transfers</th>
		<td class="market_reports">Market</th>
		<td class="market_reports">Outcome</th>
		<td class="market_reports">Balance</th>
	</tr>
	{{- range $i, $change := .ShtokBalances }}
		<tr class="market_reports">
			<td class="market_reports_field">
				{{.WrapperAddr}}
			</td>
			<td class="market_reports_field">{{.Symbol}}</td>
			<td class="market_reports_field">{{.NumTransfers}}</td>
			<td class="market_reports_field">{{.MarketAddr}}</td>
			<td class="market_reports_field">{{.OutcomeIdx}}</td>
			<td class="market_reports_field">{{.Balance}}</td>
		</tr>
	{{- end}}
</table>
{{ end }}
<script>
// font loading begins
	Highcharts.createElement('link', {
  href: 'https://fonts.googleapis.com/css?family=Unica+One',
  rel: 'stylesheet',
  type: 'text/css'
}, null, document.getElementsByTagName('head')[0]);
// font loading ends
// Apply the theme
set_dark_theme()

// begin of chart container setup
Highcharts.chart('profit_loss_chart', {

	title: {
		text: 'Profit/Loss History'
	},

	subtitle: {
		text: 'Profit/Loss History Detail'
	},

	yAxis: {
		title: {
			text: 'Profit/Loss'
		}
	},

	xAxis: {
//		max: 1.0,
//		min: 0,
		accessibility: {
			rangeDescription: 'Profit/Loss for the period'
		}
	},

	legend: {
		layout: 'vertical',
		align: 'right',
		verticalAlign: 'middle'
	},

	plotOptions: {
		series: {
			label: {
				connectorAllowed: false
			},
			pointStart: 0
		}
	},

	series: [{
		name: 'Profit/Loss',
		point: {
			events: {
				click: function() {this.click.call()}
			}
		},
		data: profit_loss_data
	}],

	responsive: {
		rules: [{
			condition: {
				maxWidth: 500
			},
			chartOptions: {
				legend: {
				layout: 'horizontal',
					align: 'center',
					verticalAlign: 'bottom'
				}
			}
		}]
	},
	tooltip: {
		formatter: function() {
			tooltip ="<div>Order's Profit/Loss: "+this.point.pl+ "<br/>Accumulated Profit/Loss: "+this.point.pl_accum+"<br/>Date: "+this.point.date+"</div>"
			 return tooltip;
		}
	},
});
Highcharts.chart('open_positions_chart', {

	title: {
		text: 'Frozen Funds Chart'
	},

	subtitle: {
		text: 'Frozen Funds of all the Open Positions'
	},

	yAxis: {
		title: {
			text: 'Frozen Funds'
		}
	},

	xAxis: {
//		max: 1.0,
//		min: 0,
		accessibility: {
			rangeDescription: 'Frozen funds for the period'
		}
	},

	legend: {
		layout: 'vertical',
		align: 'right',
		verticalAlign: 'middle'
	},

	plotOptions: {
		series: {
			label: {
				connectorAllowed: false
			},
			pointStart: 0
		}
	},

	series: [{
		name: 'Frozen Funds',
		point: {
			events: {
				click: function() {this.click.call()}
			}
		},
		data: open_positions_data
	}],

	responsive: {
		rules: [{
			condition: {
				maxWidth: 500
			},
			chartOptions: {
				legend: {
				layout: 'horizontal',
					align: 'center',
					verticalAlign: 'bottom'
				}
			}
		}]
	},
	tooltip: {
		formatter: function() {
			tooltip ="<div>Frozen in Order: "+this.point.frozen+ "<br/>Accumulated: "+this.point.frozen_accum+"<br/>Date: "+this.point.date+"</div>"
			 return tooltip;
		}
	},
});
	var milliseconds = {{.UserInfo.TimeStamp}} * 1000
	console.log(milliseconds)
	var dateObject = new Date(milliseconds)
	console.log(dateObject)
	var registration_date = dateObject.toLocaleString()
	console.log(registration_date)
	var elt=document.getElementById("reg_date")
	elt.innerHTML=registration_date
</script>
<nav>
	<ul>
	<li>
		<a class="btn_link" href="index.html">Back</a>
		<span></span><span></span><span></span><span></span>
	</li>
</ul>
</nav>
</body>
</html>
