<html>
<head>
	<title>Random Walk Tokens</title>
	<link href="res/main.css" rel="stylesheet">
</head>

<body>
<nav>
	<ul>
	<li>
		<a class="btn_link" href="/black/rwalk/tokens/list/sequential/{{.ContractAddresses.RandomWalk}}">Token Mints</a>
		<span></span><span></span><span></span><span></span>
	</li>
	<li>
		<a class="btn_link" href="/black/rwalk/current_offers/{{.ContractAddresses.RandomWalk}}/{{.ContractAddresses.MarketPlace}}/0">Active Offers</a>
		<span></span><span></span><span></span><span></span>
	</li>
	<li>
		<a class="btn_link" href="/black/rwalk/sales/{{.ContractAddresses.MarketPlace}}/0/1000000">Sale History</a>
		<span></span><span></span><span></span><span></span>
	</li>
	<li>
		<a class="btn_link" href="/black/rwalk/statistics/by_token/{{.ContractAddresses.RandomWalk}}">Token Stats</a>
		<span></span><span></span><span></span><span></span>
	</li>
	<li>
		<a class="btn_link" href="/black/rwalk/statistics/by_market/{{.ContractAddresses.MarketPlace}}">Market Stats</a>
		<span></span><span></span><span></span><span></span>
	</li>
</ul>
</nav>
<div class="main_info">
<table style="float: right" class="index_stats">
</table>
</div>
</body>
</html>
