<html>
<head>
	<title>Random Walk Statistics</title>
	<link href="/black/res/main.css" rel="stylesheet">
</head>

<body>
<h3>Random Walk Token Statistics
<table>
	<tr>
		<td>Total Trading Volume</td>
		<td>{{.TokenStats.TradingVol}}</td>
	</tr>
	<tr>
		<td>Total Trades</td>
		<td>{{.TokenStats.NumTrades}}</td>
	</tr>
	<tr>
		<td>Tokens Minted</td>
		<td>{{.TokenStats.TokensMinted}}</td>
	</tr>
	<tr>
		<td>Unique Users</td>
		<td>{{.TokenStats.UniqueUsers}}</td>
	</tr>
	<tr>
		<td>Total Withdrawals</td>
		<td>{{.TokenStats.NumWithdrawals}}</td>
	</tr>
	<tr>
		<td>Last Minted Price</td>
		<td>{{.TokenStats.LastMintedPrice}}</td>
	</tr>
	<tr>
		<td>Maximum Traded Price</td>
		<td>{{.TokenStats.MaximumTradedPrice}}</td>
	</tr>
</table>
</body>
</html>
