<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>History for Token ID {{.TokenID}}</title>
</head>
<body>
	<h3 class="page_title">Token History<h3>
	<h3>Actions made on Token {{.TokenId}}</h3>
<table>
	<tr>
		<td>Token ID</td>
		<td>{{.TokenInfo.TokenId}}
	</tr>
	<tr>
		<td>Seed Hex</td>
		<td>{{.TokenInfo.SeedHex}}</td>
	</tr>
	<tr>
		<td>Seed Numeric</td>
		<td>{{.TokenInfo.SeedNum}}</td>
	</tr>
	<tr>
		<td>Last Price</td>
		<td>{{.TokenInfo.LastPrice}}</td>
	</td>
	<tr>
		<td>Current Name</td>
		<td>
			{{.TokenInfo.CurName}}
			{{ if eq .TokenInfo.CurName "" }}
			{{ else }}
				(updated at {{.TokenInfo.LastNameUpdateDate}})
			{{ end }}
		</td>
	</tr>
	<tr>
		<td>Current Owner</td>
		<td><a class="addr" href="/black/rwalk/user/info/{{.TokenInfo.CurOwnerAid}}/{{.RWalkAddr}}">{{.TokenInfo.CurOwnerAddr}}</a></td>
	</tr>
</table>
<table>
	<tr class="market_reports">
		<th class="market_reports">Block</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Address</th>
		<th class="market_reports">TokenId</th>
		<th class="market_reports">Op Type</th>
		<th class="market_reports">Price</th>
		<th class="market_reports">Operation Info</th>
	</tr>
	{{- range $i, $change := .TokenHistory}}
		<tr class="market_reports">
			<td class="">
				{{ if eq .RecordType 1 }}
					{{.Record.BlockNum}}
				{{ end }}
				{{ if eq .RecordType 2 }}
					{{.Record.BlockNum}}
				{{ end }}
				{{ if eq .RecordType 3 }}
					{{.Record.BlockNum}}
				{{ end }}
				{{ if eq .RecordType 4 }}
					{{.Record.BlockNum}}
				{{ end }}
				{{ if eq .RecordType 5 }}
					{{.Record.BlockNum}}
				{{ end }}
				{{ if eq .RecordType 6 }}
					{{.Record.BlockNum}}
				{{ end }}
			</td>
			<td class="">
				{{ if eq .RecordType 1 }}
					{{.Record.DateTime}}
				{{ end }}
				{{ if eq .RecordType 2 }}
					{{.Record.DateTime}}
				{{ end }}
				{{ if eq .RecordType 3 }}
					{{.Record.DateTime}}
				{{ end }}
				{{ if eq .RecordType 4 }}
					{{.Record.DateTime}}
				{{ end }}
				{{ if eq .RecordType 5 }}
					{{.Record.DateTime}}
				{{ end }}
				{{ if eq .RecordType 6 }}
					{{.Record.DateTime}}
				{{ end }}
			</td>
			<td class="">
				{{ if eq .RecordType 1 }}
					{{.Record.OwnerAddr}}
				{{ end }}
				{{ if eq .RecordType 2 }}
					{{ if eq .Record.OfferType 1 }}{{.Record.SellerAddr }}{{end}}
					{{ if eq .Record.OfferType 0 }}{{.Record.BuyerAddr}}{{end}}
				{{ end }}
				{{ if eq .RecordType 3 }}
					Token Owner
				{{ end }}
				{{ if eq .RecordType 4 }}
					{{.Record.Address }}
				{{ end }}
				{{ if eq .RecordType 5 }}
					Token Owner
				{{ end }}
				{{ if eq .RecordType 6 }}
					{{.Record.FromAddr}}
				{{ end }}
			</td>
			<td class="" style="text-align:center;">
				{{ if eq .RecordType 1 }}
					{{.Record.TokenId}}
				{{ end }}
				{{ if eq .RecordType 2 }}
					{{.Record.TokenId}}
				{{ end }}
				{{ if eq .RecordType 3 }}
					{{.Record.TokenId }}
				{{ end }}
				{{ if eq .RecordType 4 }}
					{{.Record.TokenId }}
				{{ end }}
				{{ if eq .RecordType 5 }}
					{{.Record.TokenId }}
				{{ end }}
				{{ if eq .RecordType 6 }}
					{{.Record.TokenId }}
				{{ end }}
			</td>
			<td nowrap class="">
				{{ if eq .RecordType 1 }}
					Mint
				{{ end }}
				{{ if eq .RecordType 2 }}
					New Offer
					{{ if eq .Record.OfferType 0 }}<!--BUY-->{{end}}
					{{ if eq .Record.OfferType 1 }}<!--SELL-->{{end}}
				{{ end }}
				{{ if eq .RecordType 3 }}
					Cancel Offer
				{{ end }}
				{{ if eq .RecordType 4 }}
					Item Bought
				{{ end }}
				{{ if eq .RecordType 5 }}
					Token Name
				{{ end }}
				{{ if eq .RecordType 6 }}
					Transfer
				{{ end }}
			</td>
			<td class="market_reports_field" style="text-align: center;">
				{{ if eq .RecordType 1 }}
					{{ printf "%.18f" .Record.Price}}
				{{ end }}
				{{ if eq .RecordType 2 }}
					{{ printf "%.18f" .Record.Price}}
				{{ end }}
				{{ if eq .RecordType 3 }}
					{{ printf "%.18f" .Record.Price}}
				{{ end }}
				{{ if eq .RecordType 4 }}
					{{ printf "%.18f" .Record.Price}}
				{{ end }}
				{{ if eq .RecordType 5 }}
						N/A
				{{ end }}
				{{ if eq .RecordType 6 }}
						N/A
				{{ end }}
			</td>
			<td class="">
				{{ if eq .RecordType 1 }}
					New token was minted with seed {{.Record.SeedNum }}
				{{ end }}
				{{ if eq .RecordType 2 }}
					{{ if eq .Record.OfferType 0 }}BUY{{end}}
					{{ if eq .Record.OfferType 1 }}SELL{{end}}
					offer with ID={{.Record.OfferId }} created
				{{ end }}
				{{ if eq .RecordType 3 }}
					Offer with ID={{.Record.OfferId}} was canceled by creator
				{{ end }}
				{{ if eq .RecordType 4 }}
					Offer with ID={{.Record.OfferId}} was bought by {{.Record.Address}}
				{{ end }}
				{{ if eq .RecordType 5 }}
					Owner has set Token Name to <font color=yellow><i>{{.Record.TokenName}}</i></font>
				{{ end }}
				{{ if eq .RecordType 6 }}
				Owner transferred token to a new owner {{.Record.ToAddr}}
				{{ end }}
			</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
</body>
