<html>
<head>
	<link href="/res/main.css" rel="stylesheet">
	<link href="/res/cosmicgame.css" rel="stylesheet">
	<title>Voluntary Charity Deposits</title>
</head>
<body>
	<div class="cg-container">
		<div class="page-header">
			<a class="home-link" href="/cosmicsignature">&larr; Home</a>
			<h1>Voluntary Charity Deposits</h1>
		</div>

		<div class="section-card">
			<table class="data-table">
				<tr>
					<th>Block</th>
					<th>DateTime</th>
					<th>Donor</th>
					<th class="right">Amount (ETH)</th>
				</tr>
				{{- range $i, $change := .CharityDonations}}
					<tr>
						<td>{{arbiscanTx .Tx.TxHash .Tx.BlockNum}}</td>
						<td>{{.Tx.DateTime}}</td>
						<td class="monospace">
							{{ethAddrLink .DonorAddr}}
						</td>
						<td class="right">{{printf "%.6f" .AmountEth}}</td>
					</tr>
				{{- end}}
			</table>
		</div>

		<div class="api-info">
			<strong>API Endpoint:</strong><br/>
			<code>/api/cosmicgame/donations/charity/voluntary</code><br/><br/>
			<strong>Example:</strong><br/>
			<code>/api/cosmicgame/donations/charity/voluntary</code>
		</div>
	</div>
</body>
</html>
