<html>
<head>
	<link href="/res/main.css" rel="stylesheet">
	<link href="/res/cosmicgame.css" rel="stylesheet">
	<title>CosmicToken Balances</title>
</head>
<body>
	<div class="cg-container">
		<div class="page-header">
			<a class="home-link" href="/cosmicsignature">&larr; Home</a>
			<h1>CosmicToken (ERC20) Balances</h1>
		</div>

		<div class="section-card">
			<table class="data-table">
				<tr>
					<th>Holder Address</th>
					<th class="right">Balance</th>
				</tr>
				{{- range $i, $change := .CosmicTokenBalances}}
					<tr>
						<td class="monospace">
							{{ethAddrLink .OwnerAddr}}
						</td>
						<td class="right">{{printf "%.2f" .BalanceFloat}}</td>
					</tr>
				{{- end}}
			</table>
		</div>

		<div class="api-info">
			<strong>API Endpoint:</strong><br/>
			<code>/api/cosmicgame/ct/balances</code><br/><br/>
			<strong>Example:</strong><br/>
			<code>/api/cosmicgame/ct/balances</code>
		</div>
	</div>
</body>
</html>
