<html>
<head>
	<link href="/res/main.css" rel="stylesheet">
	<link href="/res/cosmicgame.css" rel="stylesheet">
	<title>Raffle NFT Winners</title>
</head>
<body>
	<div class="cg-container">
		<div class="page-header">
			<a class="home-link" href="/cosmicsignature">&larr; Home</a>
			<h1>Raffle NFT Winners</h1>
		</div>

		<div class="section-card">
			<table class="data-table">
				<tr>
					<th>Block</th>
					<th>DateTime</th>
					<th>Winner</th>
					<th class="center">Round</th>
					<th class="center">Token ID</th>
				</tr>
				{{- range $i, $change := .RaffleNFTWinners}}
					<tr>
						<td>{{arbiscanTx .Tx.TxHash .Tx.BlockNum}}</td>
						<td>{{.Tx.DateTime}}</td>
						<td class="monospace">
							{{ethAddrLink .WinnerAddr}}
						</td>
						<td class="center">{{.RoundNum}}</td>
						<td class="center">
							<a href="/cosmicsignature/cst/info/{{.TokenId}}">{{.TokenId}}</a>
						</td>
					</tr>
				{{- end}}
			</table>
		</div>

		<div class="api-info">
			<strong>API Endpoint:</strong><br/>
			<code>/api/cosmicgame/raffle/nft/all/list/[offset]/[limit]</code><br/><br/>
			<strong>Example:</strong><br/>
			<code>/api/cosmicgame/raffle/nft/all/list/0/1000000</code>
		</div>
	</div>
</body>
</html>
