<html>
<head>
	<link href="/res/main.css" rel="stylesheet">
	<link href="/res/cosmicgame.css" rel="stylesheet">
	<title>Token Transfer History</title>
</head>
<body>
	<div class="cg-container">
		<div class="page-header">
			<a class="home-link" href="/cosmicsignature">&larr; Home</a>
			<h1>Token Transfer History</h1>
			<div class="subtitle">Token ID: {{.TokenId}}</div>
		</div>

		<div class="section-card">
			<table class="data-table">
				<tr>
					<th class="center">Block</th>
					<th>DateTime</th>
					<th>From</th>
					<th>To</th>
				</tr>
				{{- range $i, $change := .TokenTransfers}}
					<tr>
						<td class="center">{{arbiscanTx .Tx.TxHash .Tx.BlockNum}}</td>
						<td>{{.Tx.DateTime}}</td>
						<td class="monospace">
							{{ethAddrLink .FromAddr}}
						</td>
						<td class="monospace">
							{{ethAddrLink .ToAddr}}
						</td>
					</tr>
				{{- end}}
			</table>
		</div>

		<div class="api-info">
			<strong>API Endpoint:</strong><br/>
			<code>/api/cosmicgame/cst/transfers/all/[token_id]/[offset]/[limit]</code><br/><br/>
			<strong>Example:</strong><br/>
			<code>/api/cosmicgame/cst/transfers/all/{{.TokenId}}/0/10000</code>
		</div>
	</div>
</body>
</html>
