<html>
<head>
	<link href="/res/main.css" rel="stylesheet">
	<link href="/res/cosmicgame.css" rel="stylesheet">
	<title>User Chrono Warrior Deposits</title>
</head>
<body>
	<div class="cg-container">
		<div class="page-header">
			<a class="home-link" href="/cosmicsignature">&larr; Home</a>
			<h1>Chrono Warrior ETH Deposits</h1>
			<div class="address-display">{{.UserInfo.Address}}</div>
		</div>

		<div class="section-card">
			<table class="data-table">
				<tr>
					<th>Block</th>
					<th>DateTime</th>
					<th>Winner</th>
					<th class="center">Round</th>
					<th class="right">Amount</th>
				</tr>
				{{- range $i, $change := .UserChronoWarriorDeposits}}
					<tr>
						<td>{{arbiscanTx .Tx.TxHash .Tx.BlockNum}}</td>
						<td>{{.Tx.DateTime}}</td>
						<td class="monospace">
							{{ethAddrLink .WinnerAddr}}
						</td>
						<td class="center">{{.RoundNum}}</td>
						<td class="right">{{printf "%.6f" .Amount}} ETH</td>
					</tr>
				{{- end}}
			</table>
		</div>

		<div class="api-info">
			<strong>API Endpoint:</strong><br/>
			<code>/api/cosmicgame/prizes/deposits/chrono_warrior/by_user/{user_addr}</code><br/><br/>
			<strong>Example:</strong><br/>
			<code>/api/cosmicgame/prizes/deposits/chrono_warrior/by_user/{{.UserInfo.Address}}</code>
		</div>
	</div>
</body>
</html>
