<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Bid record for event id={{.BidInfo.EvtLogId}}</title>
</head>
<body>
	<h3 class="page_title">Bid Info<h3>
<table>
	<tr>
		<td>EvtLog ID</td>
		<td>{{.BidInfo.EvtLogId}}
	</tr>
	<tr>
		<td>BlockNum</td>
		<td>{{.BidInfo.BlockNum}}</td>
	</tr>
	<tr>
		<td>TxId</td>
		<td>{{.BidInfo.TxId}}</td>
	</tr>
	<tr>
		<td>TxHash</td>
		<td>{{.BidInfo.TxHash}}</td>
	</td>
	<tr>
		<td>Round Num</td>
		<td>
			{{.BidInfo.RoundNum}}
		</td>
	</tr>
	<tr>
		<td>TimeStamp</td>
		<td>
			{{.BidInfo.DateTime}}
		</td>
	</tr>
	<tr>
		<td>DateTime</td>
		<td>
			{{.BidInfo.DateTime}}
		</td>
	</tr>
	<tr>
		<td>Bidder Address</td>
		<td><a class="addr" href="/black/cosmicgame/user/info/{{.BidInfo.BidderAddr}}">{{.BidInfo.BidderAddr}}</a></td>
	</tr>
	<tr>
		<td>Bid Price</td>
		<td>{{.BidInfo.BidPriceEth}}</td>
	</tr>
	<tr>
		<td>ERC20 amount</td>
		<td>{{.BidInfo.ERC20_AmountEth}} (ETH)</td>
	</tr>
	<tr>
		<td>RWalk NFT Id</td>
		<td>{{.BidInfo.RWalkNFTId}} </td>
	</tr>
	<tr>
		<td>Donated NFT Contract Address (aka Token)</td>
		<td>{{.BidInfo.NFTDonationTokenAddr}}</td>
	</tr>
	<tr>
		<td>Donated NFT Token Id</td>
		<td>{{.BidInfo.NFTDonationTokenId}}</td>
	</tr>
	<tr>
		<td>Donated NFT Token URI</td>
		<td>{{.BidInfo.NFTTokenURI}}</td>
	</tr>
	<tr>
		<td>Message</td>
		<td>{{.BidInfo.Message}}</td>
	</tr>
	<tr>
		<td>Image</td>
		<td><img width="300" src="{{.BidInfo.ImageURL}}"></td>
	</tr>
</table>
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/bid/info/[evtlog_id]<br/>

	Example: /api/cosmicgame/bid/info/{{.BidInfo.EvtLogId}}
</code>
</body>
