<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Bids for Round {{.RoundNum}}</title>
</head>
<body>
	<h3 class="page_title">Bids<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">RoundNum</th>
		<th class="market_reports">Bidder</th>
		<th class="market_reports">Bid amount (ETH)</th>
		<th class="market_reports">Cosmic Signature Token amount</th>
		<th class="market_reports">RWalk NFT Id</th>

	</tr>
	{{- range $i, $change := .BidsByRound}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				<a href="/black/cosmicgame/bid/info/{{.EvtLogId}}">{{.BlockNum}}</a>
			</td>
			<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
			<td style="text-align: center;" title="">{{ .RoundNum }}</td>
			<td class="addr" title="{{.BidderAid}}">
				<a href="/black/cosmicgame/user/info/{{.BidderAddr}}">{{.BidderAddr}}</a>
			</td>
			<td style="text-align: right;" title="">{{printf "%.6f" .BidPriceEth}}</td>
			<td style="text-align: right;" title="">{{printf "%.4f" .ERC20_AmountEth}}</td>
			<td style="text-align: right;" title="">{{ .RWalkNFTId }}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/bid/list/by_round/[round_num]/[sort]/[offset]/[limit]</br>
		sort: 0 - ascending, 1 - descending</br>

Example: /api/cosmicgame/bid/list_by_round/{{.RoundNum}}/1/{{.Offset}}/{{.Limit}}
</code>
</body>
