<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Raffle ETH Deposits by User</title>
</head>
<body>
	<h3 class="page_title">Raffle ETH Deposits by User<h3>
	<h3 class="page_title">User {{.UserAddr}} </h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">RecordType</th>
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Round</th>
		<th class="market_reports">Amount (ETH)</th>
		<th class="market_reports">Token Addr</th>
		<th class="market_reports">Token Id</th>
		<th class="market_reports">Winner Idx</th>
	</tr>
	{{- range $i, $change := .ClaimHistory}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				{{ if eq 0 .RecordType}}ETH Deposit{{end}}
				{{ if eq 1 .RecordType}}NFT Token{{end}}
				{{ if eq 2 .RecordType}}Donated NFT{{end}}
			</td>
			<td class="" style="text-align: center;">
				{{.BlockNum}}
			</td>
			<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
			<td style="text-align: right;" title="">{{ .RoundNum }}</td>
			<td style="text-align: right;" title="">{{printf "%.4f" .AmountEth}}</td>
			<td style="text-align: right;" title="">{{ .TokenAddress }}</td>
			<td style="text-align: right;" title="">{{ .TokenId }}</td>
			<td style="text-align: right;" title="">{{ .WinnerIndex}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/user/claim_history/[user_addr]/[offset]/[limit]</br>

	Example: /api/cosmicgame/user/claim_history/{{.UserAddr}}/0/100000
</code>
</body>
