<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Bids by User</title>
</head>
<body>
	<h3 class="page_title">Bids of User {{.UserInfo.Address}}<h3>
<table>
	<tr class="market_reports">
		<td class="market_reports" title="{{.UserInfo.AddressId}}">Address</td>
		<td class="market_reports">{{.UserInfo.Address}}</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports">Number of Bids</td>
		<td class="market_reports">{{.UserInfo.NumBids}}</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports">Maximum Bid Amount</td>
		<td class="market_reports">{{.UserInfo.MaxBidAmount}} (ETH)</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports">Number of Prizes taken</td>
		<td class="market_reports">{{.UserInfo.NumPrizes}}</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports">Maximum Prize won</td>
		<td class="market_reports">{{.UserInfo.MaxWinAmount}}</td>
	</tr>
</table>
<h4>Bids of user</h4>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Bid amount (ETH)</th>
		<th class="market_reports">Cosmic Signature Token amount</th>
	</tr>
	{{- range $i, $change := .Bids}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				<a href="/black/biddingwar/bidinfo/{{.EvtLogId}}">{{.BlockNum}}</a>
			</td>
			<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
			<td style="text-align: right;" title="">{{printf "%.6f" .BidPriceEth}}</td>
			<td style="text-align: right;" title="">{{printf "%.4f" .ERC20_AmountEth}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<h4>Prizes won by the user</h4>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Win amount(ETH)</th>
		<th class="market_reports">Seed</th>
	</tr>
	{{- range $i, $change := .Prizes}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				<a href="/black/biddingwar/bidinfo/{{.EvtLogId}}">{{.BlockNum}}</a>
			</td>
			<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
			<td style="text-align: right;" title="">{{printf "%.6f" .AmountEth}}</td>
			<td style="text-align: right;" title="">{{.Seed}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/biddingwar/user/info/[user_address]</br>

	Example: /api/biddingwar/user/info/{{.UserInfo.Address}}
</code>
</body>
