<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>ActionIDs for deposit{{.DepositId}} , user {{.UserAddr}}</title>
</head>
<body>
	<h3 class="page_title">ActionIDs for Deposit {{.DepositId}}, user {{.UserAddr}}<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">ActionId</th>
		<th class="market_reports">TokenId</th>
		<th class="market_reports">Amount (ETH)</th>
		<th class="market_reports">Claimed</th>
		<th class="market_reports">ActionTS</th>
		<th class="market_reports">UnstakeEligible Timestamp</th>
		<th class="market_reports">Chain Timestamp</th>
		<th class="market_reports">TS Diff (against chain)</th>

	</tr>
	{{- range $i, $change := .ActionIds}}
		<tr class="market_reports">
			<td style="text-align: center;">
				<a href="/black/cosmicgame/staking/actions/info/{{.StakeActionId}}">
				{{.StakeActionId}}
				</a>
			</td>
			<td style="text-align: center;">{{.TokenId}}</td>
			<td style="text-align: right;">&nbsp; {{printf "%.4f" .AmountEth}}&nbsp;</td>
			<td style="text-align: center;">{{.Claimed}}</td>
			<td style="text-align: right;">{{.StakeActionTimeStamp}}</td>
			<td style="text-align: right;">{{.UnstakeEligibleTimeStamp}}</td>
			<td style="text-align: right;">{{.CurChainTimeStamp}}</td>
			<td style="text-align: right;">{{.TimeStampDiff}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/staking/rewards/action_ids_by_deposit/[user_addr]/[deposit_id]</br>

	Example: /api/cosmicgame/staking/rewards/action_ids_by_deposit/{{.UserAddr}}/{{.DepositId}}
</code>
</body>
