<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Bids for Round {{.RoundNum}}</title>
</head>
<body>
	<h3 class="page_title">Bids<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Round</th>
		<th class="market_reports">Bidder</th>
		<th class="market_reports">Amount</th>
		<th class="market_reports">CST Reward</th>
		<th class="market_reports">Type</th>
		<th class="market_reports">RWalk</th>
		<th class="market_reports">CST Amount</th>
		<th class="market_reports">Message</th>
		<th class="market_reports">Donated ERC20</th>
		<th class="market_reports">Donated Amount</th>
	</tr>
	{{- range $i, $change := .BidsByRound}}
		<tr class="market_reports">
			<td class="" title="{{.Tx.TimeStamp}}">
				<a href="/black/cosmicgame/bid/info/{{.Tx.EvtLogId}}">{{.Tx.BlockNum}}</a>
			</td>
			<td class="" title="{{.Tx.TimeStamp}}">{{.Tx.DateTime}}</td>
			<td style="text-align: center;" title="">{{ .RoundNum }}</td>
			<td class="addr" title="{{.BidderAid}}">
				<a href="/black/cosmicgame/user/info/{{.BidderAddr}}">{{.BidderAddr}}</a>
			</td>
			<td style="text-align: right;" title="">{{printf "%.6f" .EthPriceEth}}</td>
			<td style="text-align: right;" title="">{{printf "%.4f" .CSTRewardEth}}</td>
			<td style="text-align: center;" title="">{{ .BidType}}</td>
			<td style="text-align: center;" title="">{{ .RWalkNFTId }}</td>
			<td style="text-align: right;" title="">{{ printf "%.2f" .CSTRewardEth}}</td>
			<td style="text-align: left;" title="">{{ .Message }}</td>
			<td style="text-align: left;" title="">{{ .DonatedERC20TokenAddr }}</td>
			<td style="text-align: left;" title="">{{ printf "%.2f" .DonatedERC20TokenAmountEth}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/bid/list/by_round/[round_num]/[sort]/[offset]/[limit]</br>
		sort: 0 - ascending, 1 - descending</br>

Example: /api/cosmicgame/bid/list/by_round/{{.RoundNum}}/1/{{.Offset}}/{{.Limit}}
</code>
</body>
