<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Current Special Winners</title>
</head>
<body>
	<h3 class="page_title">Data for displaying Endurance Champion & Last CST Bidder info<h3>
<table>
	<tr class="market_reports">
		<td class="">Last Bidder</td>
		<td>
			<a href="/black/cosmicgame/user/info/{{.LastBidderBidderAddress}}">{{.LastBidderAddress}}</a>
		</td>
	</tr>
	<tr class="market_reports">
		<td>Last Bidder's Last Bid Time</td>
		<td>{{.LastBidderLastBidTime}}</td>
	</tr>
	<tr class="market_reports">
		<td>Endurance Champion Address</td>
		<td>
			<a href="/black/cosmicgame/user/info/{{.EnduranceChampionAddress}}">{{.EnduranceChampionAddress}}</a>
		</td>
	</tr>
	<tr class="market_reports">
		<td>Endurance Champion Duration</td>
		<td>{{.EnduranceChampionDuration}}</td>
	</tr>
	<tr>
		<td>LastCST Bidder Address</td>
		<td>
			<a href="/black/cosmicgame/user/info/{{.LastCstBidderAddress}}">{{.LastCstBidderAddress}}</a>
		</td>
	</tr>
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/bid/current_special_winners<br/>

	Example: /api/cosmicgame/bid/current_special_winners
</code>
</body>
