<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>CosmicSignatureToken (CST) Statistics</title>
</head>
<body>
	<h3 class="page_title">CosmicSignatureToken (CST/ERC20) Statistics</h3>

<h4>Token Information</h4>
<table>
	<tr>
		<td>Token Name</td>
		<td>{{ .TokenName }}</td>
	</tr>
	<tr>
		<td>Token Symbol</td>
		<td>{{ .TokenSymbol }}</td>
	</tr>
	<tr>
		<td>Decimals</td>
		<td>{{ .TokenDecimals }}</td>
	</tr>
	<tr>
		<td>Token Contract Address</td>
		<td class="addr">{{ .CosmicTokenAddr }}</td>
	</tr>
	<tr>
		<td>Game Contract Address</td>
		<td class="addr">{{ .GameContractAddr }}</td>
	</tr>
</table>

<h4>Supply & Holders</h4>
<table>
	<tr>
		<td>Total Supply</td>
		<td>{{ printf "%.4f" .Stats.TotalSupplyEth }} CST</td>
	</tr>
	<tr>
		<td>Total Holders</td>
		<td>{{ .Stats.TotalHolders }}</td>
	</tr>
</table>

<h4>CST Distribution (How CST Enters the Game)</h4>
<table>
	<tr>
		<td>Earned from Bidding Rewards</td>
		<td style="text-align: right;">{{ printf "%.4f" .Stats.EarnedFromBiddingEth }} CST</td>
	</tr>
	<tr>
		<td>Given as Main Prizes</td>
		<td style="text-align: right;">{{ printf "%.4f" .Stats.GivenAsMainPrizesEth }} CST</td>
	</tr>
	<tr>
		<td>Given as Raffle Prizes</td>
		<td style="text-align: right;">{{ printf "%.4f" .Stats.GivenAsRafflePrizesEth }} CST</td>
	</tr>
	<tr>
		<td>Given as Chrono Warrior Prizes</td>
		<td style="text-align: right;">{{ printf "%.4f" .Stats.GivenAsChronoWarriorPrizesEth }} CST</td>
	</tr>
	<tr>
		<td>Distributed to Marketers</td>
		<td style="text-align: right;">{{ printf "%.4f" .Stats.DistributedToMarketersEth }} CST</td>
	</tr>
</table>

<h4>CST Usage (How CST Leaves the Game)</h4>
<table>
	<tr>
		<td>Consumed in Bids (Burned)</td>
		<td style="text-align: right;">{{ printf "%.4f" .Stats.ConsumedInBidsEth }} CST</td>
	</tr>
</table>

<h4>Activity Metrics</h4>
<table>
	<tr>
		<td>Total Mint Events</td>
		<td>{{ .Stats.TotalMints }}</td>
	</tr>
	<tr>
		<td>Total Burn Events</td>
		<td>{{ .Stats.TotalBurns }}</td>
	</tr>
	<tr>
		<td>Total Transfer Events</td>
		<td>{{ .Stats.TotalTransfers }}</td>
	</tr>
</table>

<h4>Top 10 CST Holders</h4>
<table>
	<tr class="market_reports">
		<th class="market_reports">Address</th>
		<th class="market_reports">Balance (CST)</th>
		<th class="market_reports">% of Supply</th>
	</tr>
	{{- range $i, $holder := .Stats.TopHolders}}
		<tr class="market_reports">
			<td class="addr">
				<a href="/black/cosmicgame/user/info/{{$holder.OwnerAddr}}">{{$holder.OwnerAddr}}</a>
			</td>
			<td style="text-align: right;">{{ printf "%.4f" $holder.BalanceFloat }}</td>
			<td style="text-align: right;">{{ printf "%.2f" $holder.PercentOfSupply }}%</td>
		</tr>
	{{- end}}
</table>

<br/><br/>
<code>
	API: /api/cosmicgame/ct/statistics
</code>
</body>
</html>

