<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>CosmicSignature token distribution</title>
</head>
<body>
	<h3 class="page_title">Cosmic Signature token distribution<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">Owner</th>
		<th class="market_reports">Amount of tokens owned</th>
	</tr>
	{{- range $i, $change := .CosmicSignatureTokenDistribution}}
		<tr class="market_reports">
			<td class="addr" style="text-align: left;">
				{{.OwnerAddr}}
			</td>
			<td style="text-align: right;" title="">
				<a href="/black/cosmicgame/user/info/{{.OwnerAddr}}">{{ .NumTokens}}</a>
			</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/cst/distribution</br>

	Example: /api/cosmicgame/cst/distribution
</code>
</body>
