<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Deposits to CharityWallet from CosmicGame contract</title>
</head>
<body>
	<h3 class="page_title">Deposits To Charity Wallet from CosmicGame contract<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Donor</th>
		<th class="market_reports">Donation amount (ETH)</th>
	</tr>
	{{- range $i, $change := .CharityDeposits}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				{{.BlockNum}}
			</td>
			<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
			<td class="addr" title="{{.DonorAid}}">
				<a href="/black/cosmicgame/user/info/{{.DonorAddr}}">{{.DonorAddr}}</a>
			</td>
			<td style="text-align: right;" title="">{{printf "%.6f" .AmountEth}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/donations/charity/cg_deposits</br>

	Example: /api/cosmicgame/donations/charity/cg_deposits
</code>
</body>
