<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Token info for tokenId = {{.TokenInfo.TokenId}}</title>
</head>
<body>
	<h3 class="page_title">Cosmic Signature Token Info<h3>
<table>
	<tr>
		<td>Token ID</td>
		<td>{{.TokenInfo.TokenId}}
	</tr>
	<tr>
		<td>EvtLog ID</td>
		<td>{{.TokenInfo.EvtLogId}}
	</tr>
	<tr>
		<td>BlockNum</td>
		<td>{{.TokenInfo.BlockNum}}</td>
	</tr>
	<tr>
		<td>TxId</td>
		<td>{{.TokenInfo.TxId}}</td>
	</tr>
	<tr>
		<td>TxHash</td>
		<td>{{.TokenInfo.TxHash}}</td>
	</td>
	<tr>
		<td>TimeStamp</td>
		<td>
			{{.TokenInfo.TimeStamp}}
		</td>
	</tr>
	<tr>
		<td>DateTime</td>
		<td>
			{{.TokenInfo.DateTime}}
		</td>
	</tr>
	<tr>
		<td>Winner Address</td>
		<td><a class="addr" href="/black/cosmicgame/user/info/{{.TokenInfo.WinnerAddr}}">{{.TokenInfo.WinnerAddr}}</a></td>
	</tr>
	<tr>
		<td>Current Owner Address</td>
		<td><a class="addr" href="/black/cosmicgame/user/info/{{.TokenInfo.WinnerAddr}}">{{.TokenInfo.CurOwnerAddr}}</a></td>
	</tr>
	<tr>
		<td>Prize Num</td>
		<td>
			{{ if eq 1 .TokenInfo.RecordType}}
				Token won in raffle
			{{else}}
				Token is a main prize:  prizeNum = 
				<a href="/black/cosmicgame/prize/info/{{.TokenInfo.RoundNum}}">
					{{.TokenInfo.RoundNum}}
				</a>
			{{ end }}
		</td>
	</tr>
	<tr>
		<td>Seed</td>
		<td>{{.TokenInfo.Seed}} (ETH)</td>
	</tr>
	<tr>
		<td>Ownership transfers</td>
		<td><a href="/black/cosmicgame/cst/transfers/{{.TokenInfo.TokenId}}">transfers</a> </td>
	</tr>
	<tr>
		<td>Staked</td>
		<td>{{.TokenInfo.Staked}} </td>
	</tr>
	<tr>
		<td>Staked Owner Address</td>
		<td><a class="addr" href="/black/cosmicgame/user/info/{{.TokenInfo.StakedOwnerAddr}}">{{.TokenInfo.StakedOwnerAddr}}</a>
		</td>
	</tr>
	<tr>
		<td>Stake ActionId</td>
		<td>{{.TokenInfo.StakeActionId}} </td>
	</tr>
	<tr>
		<td>Unstake Date</td>
		<td>{{.TokenInfo.ActualUnstakeDateTime}} </td>
	</tr>
</table>
</table>
<h3 class="page_title">Token name history</h3>
<table>
    <tr class="market_reports">
        <th class="market_reports">BlockNum</th>
        <th class="market_reports">Datetime</th>
        <th class="market_reports">Token name</th>
    </tr>
    {{- range $i, $change := .TokenNameHistory}}
        <tr class="market_reports">
            <td class="" style="text-align: center;">
                {{.BlockNum}}
            </td>
            <td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
            <td style="text-align: right;" title="">{{ .TokenName}}</td>
        </tr>
    {{- end}}
</table>
<h3 class="page_title">History of token transfers<h3>
<table>
    <tr class="market_reports">
        <th class="market_reports">BlockNum</th>
        <th class="market_reports">Datetime</th>
        <th class="market_reports">From</th>
        <th class="market_reports">To</th>
    </tr>
    {{- range $i, $change := .TokenTransfers}}
        <tr class="market_reports">
            <td class="" style="text-align: center;">
                {{.BlockNum}}
            </td>
            <td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
            <td class="addr" title="{{.FromAid}}">
                <a href="/black/cosmicgame/user/info/{{.FromAddr}}">{{.FromAddr}}</a>
            </td>
            <td class="addr" title="{{.ToAid}}">
                <a href="/black/cosmicgame/user/info/{{.ToAddr}}">{{.ToAddr}}</a>
            </td>
        </tr>
    {{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/cst/info/[token_id]<br/>

	Example: /api/cosmicgame/cst/info/{{.TokenInfo.TokenId}}
</code>
</body>
