<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Cosmic Signature Token List</title>
</head>
<body>
	<h3 class="page_title">Cosmic Signature Token List (Mints)<h3>
	<div>
		<nav style="float: right;">
			<ul>
			<li>
				<a class="btn_link" href="/black/cosmicgame/cst/distribution">Distribution</a>
				<span></span><span></span><span></span><span></span>
			</li>
			</ul>
		</nav>
	</div>
<table>
	<tr class="market_reports">
		<th class="market_reports">Datetime</th>
		<th class="market_reports">TokenId</th>
		<th class="market_reports">Winner</th>
		<th class="market_reports">Current Owner</th>
		<th class="market_reports">Round Num</th>
		<th class="market_reports">Prize Type</th>
		<th class="market_reports">Name History</th>
	</tr>
	{{- range $i, $change := .CosmicSignatureTokenList}}
		<tr class="market_reports">
			<td class="" title="{{.Tx.TimeStamp}}">
				<a href="/black/cosmicgame/cst/info/{{.TokenId}}">{{.Tx.DateTime}}</a>
			</td>
			<td class="" style="text-align:center;">{{.TokenId}}</td>
			<td class="addr" title="{{.WinnerAid}}">
				<a href="/black/cosmicgame/user/info/{{.WinnerAddr}}">{{.WinnerAddr}}</a>
			</td>
			<td class="addr" title="{{.CurOwnerAid}}">
				<a href="/black/cosmicgame/user/info/{{.CurOwnerAddr}}">{{.CurOwnerAddr}}</a>
			</td>
			<td class="" style="text-align:center;">
				{{.RoundNum}}
			</td>
			<td class="" style="text-align:center;">
				{{ if eq 0 .RecordType}}Unknown prize{{end}}
				{{ if eq 1 .RecordType}}Raffle NFT Token{{end}}
				{{ if eq 2 .RecordType}}Staking RWalk{{end}}
				{{ if eq 7 .RecordType}}Main Prize{{end}}
				{{ if eq 5 .RecordType}}Endurance Champion{{end}}
				{{ if eq 6 .RecordType}}Last CST Bidder{{end}}
			</td>
			<td class="addr" style="text-align: center">
				<a href="/black/cosmicgame/cst/names/history/{{.TokenId}}">Names</a>
			</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/cst/list/all/[offset]/[limit]</br>

	Example: /api/cosmicgame/cst/list/all/0/1000000
</code>
</body>
