<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Claims of donated NFTs for user {{.UserInfo.Address}}</title>
</head>
<body>
	<h3 class="page_title">Claims of donated NFTs for user {{.UserInfo.Address}}<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Winner</th>
		<th class="market_reports">Donor</th>
		<th class="market_reports">TokenID</th>
		<th class="market_reports">TokenURI</th>
	</tr>
	{{- range $i, $change := .DonatedNFTClaims}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				{{.BlockNum}}
			</td>
			<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
			<td class="addr" title="{{.WinnerAid}}">
				<a href="/black/cosmicgame/user/info/{{.WinnerAddr}}">{{.WinnerAddr}}</a>
			</td>
			<td class="addr" style="text-align: left;">
				<a href="/black/cosmicgame/user/info/{{.WinnerAddr}}">{{.DonorAddr}}</a>
				
			</td>
			<td class="" style="text-align: center;">{{.NFTTokenId}}</td>
			<td class="" style="text-align: center;">{{.NFTTokenURI}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/donations/nft/claims/by_user/[user_address]</br>

	Example: /api/cosmicgame/donations/nft/claims/by_user/{{.UserInfo.Address}}</br>
</code>
</body>
