<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Direct Donations to CosmicGame contract via donate() by round</title>
</head>
<body>
	<h3 class="page_title">Direct (ETH) Donations to CosmicGame contract via donate() by round<h3>
	<h4>Round {{.RoundNum}}</h4>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Round</th>
		<th class="market_reports">Donor</th>
		<th class="market_reports">Donation amount (ETH)</th>
	</tr>
	{{- range $i, $change := .CosmicGameDonations}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				{{.BlockNum}}</a>
			</td>
			<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
			<td class="">{{.RoundNum}}</td>
			<td class="addr" title="{{.DonorAid}}">
				<a href="/black/cosmicgame/user/info/{{.DonorAddr}}">{{.DonorAddr}}</a>
			</td>
			<td style="text-align: right;" title="">{{printf "%.6f" .AmountEth}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/donations/eth/simple/by_round</br>

	Example: /api/cosmicgame/donations/eth/simple/by_round/{{.RoundNum}}
</code>
</body>
