<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>ERC20 Tokens Claimed by {{.UserAddr}}</title>
</head>
<body>
	<h3 class="page_title">ERC20 Tokens CLAIMED by {{.UserAddr}} (Winner Perspective)<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Round</th>
		<th class="market_reports">Token Address</th>
		<th class="market_reports">Amount</th>
		<th class="market_reports">Original Donor</th>
	</tr>
	{{- range $i, $change := .ERC20ClaimsByWinner}}
		<tr class="market_reports">
			<td class="" title="{{.Tx.TimeStamp}}">
				{{.Tx.BlockNum}}
			</td>
			<td class="" title="{{.Tx.TimeStamp}}">{{.Tx.DateTime}}</td>
			<td style="text-align: center;" title="">
				<a href="/black/cosmicgame/rounds/info/{{.RoundNum}}">{{.RoundNum}}</a>
			</td>
			<td style="text-align: right;" title="">{{.TokenAddr}}</td>
			<td style="text-align: right;" title="">{{ printf "%.6f" .AmountEth}}</td>
			<td class="addr" title="">
				{{if .DonorAddr}}
					<a href="/black/cosmicgame/user/info/{{.DonorAddr}}">{{.DonorAddr}}</a>
				{{else}}
					<i>Multiple donors</i>
				{{end}}
			</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/donations/erc20/claims/by_user/[user_addr]</br>

	Example: /api/cosmicgame/donations/erc20/claims/by_user/{{.UserAddr}}
</code>
<br/><br/>
<p><i>Note: This shows tokens YOU claimed as a winner. To see tokens you donated, use 
<a href="/black/cosmicgame/donations/erc20/donated/by_user/{{.UserAddr}}">ERC20 Donations</a></i></p>
</body>
</html>




