<html>
<head>
	<title>CosmicGame Main Page</title>
	<link href="/black/res/main.css" rel="stylesheet">
</head>

<body>
	<div>
		<nav style="float: left;">
			<ul>
			<li>
				<a class="btn_link" href="/black/cosmicgame/bid/list/all">Bids</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li>
				<a class="btn_link" href="/black/cosmicgame/rounds/list">Prizes</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li>
				<a class="btn_link" href="/black/cosmicgame/cst/list">CS Mints</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li style="width: 15em;">
				<a class="btn_link" href="/black/cosmicgame/raffle/deposits/list/0/100000">Raffle Deposits</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li style="width: 15em;">
				<a class="btn_link" href="/black/cosmicgame/raffle/nft_winners/list/0/10000">Raffle NFT Wins</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li style="width: 15em;">
				<a class="btn_link" href="/black/cosmicgame/prizes/history/global">Prize History</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li style="width: 15em;">
				<a class="btn_link" href="/black/cosmicgame/bid/current_special_winners">Special Winners</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li style="width: 15em;">
				<a class="btn_link" href="/black/cosmicgame/dev_funcs">Development</a>
				<span></span><span></span><span></span><span></span>
			</li>
		</ul>
		</nav>
		<nav style="float: right;">
			<ul>
			<li style="width: 20em;">
				<a class="btn_link" href="/black/cosmicgame/donations/eth/simple/list">Direct CG ETH Donations</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li style="width: 20em;">
				<a class="btn_link" href="/black/cosmicgame/donations/eth/with_info/list">Donations w-info</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li style="width:20em" >
				<a class="btn_link"href="/black/cosmicgame/donations/charity/deposits">CHARITY Deposits</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li style="width:20em" >
				<a class="btn_link"href="/black/cosmicgame/donations/charity/withdrawals">CHARITY Withdrawals</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li style="width: 20em;">
				<a class="btn_link" href="/black/cosmicgame/donations/nft/list">NFT Donations</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li style="width: 20em;">
				<a class="btn_link" href="/black/cosmicgame/donations/nft/statistics">NFT Donation Stats</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li style="width: 20em;">
				<a class="btn_link" href="/black/cosmicgame/ct/balances">ERC20 Balances</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li style="width: 20em;">
				<a class="btn_link" href="/black/cosmicgame/bid/used_rwalk_nfts">Used RWalk</a>
				<span></span><span></span><span></span><span></span>
			</li>
		</ul>
		</nav>
		<nav style="float: left;">
			<p>Staking CST</p>
			<ul>
			<li style="width: 15em;">
				<a class="btn_link" href="/black/cosmicgame/staking/cst/actions/global">Staking Actions</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li style="width: 15em;">
				<a class="btn_link" href="/black/cosmicgame/staking/cst/staked_tokens">Staked Tokens</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li style="width: 15em;">
				<a class="btn_link" href="/black/cosmicgame/staking/cst/rewards/global">Global Rewards</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li style="width: 15em;">
				<a class="btn_link" href="/black/cosmicgame/user/unique_stakers_cst">Unique Stakers</a>
				<span></span><span></span><span></span><span></span>
			</li>
			</ul>
		</nav>
		<nav style="float: left;">
			<p>Staking RWalk</p>
			<ul>
			<li>
				<a class="btn_link" href="/black/cosmicgame/staking/rwalk/actions/global">Staking Actions</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li>
				<a class="btn_link" href="/black/cosmicgame/staking/rwalk/staked_tokens">Staked Tokens</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li>
				<a class="btn_link" href="/black/cosmicgame/staking/rwalk/mints/global">Raffle Mints</a>
				<span></span><span></span><span></span><span></span>
			</li>
			<li>
				<a class="btn_link" href="/black/cosmicgame/user/unique_stakers_rwalk">Unique Stakers</a>
				<span></span><span></span><span></span><span></span>
			</li>
			</ul>
		</nav>
	</div>
<div>
<table style="float: right" class="index_stats">
	<tr>
		<td colspan=2 style="text-align:center;background-color: #696969;">
				<h4 style="text-align:center;">System dashboard</h4>
		</td>
	</tr>
	<tr>
		<td style="vertical-align: top;">
			<table style="float: right" class="index_stats">
			<tr>
				<td colspan=2 class="market_reports" style="text-align: center;"><b>Current Round Statistics</b></td>
			</tr>
			<tr>
				<td>Current Round</td>
				<td class="market_reports">
					<a href="/black/cosmicgame/bid/list_by_round/{{.TotalPrizes}}/0/0/100000">
					{{.CurRoundNum}}
					</a>
				</td>
			</tr>
			<tr>
				<td>Round Start Date</td>
				<td class="market_reports">
					{{.DateRoundStart }}
				</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Current Bid Price</td>
				<td>{{ printf "%9f" .BidPriceEth}} ETH</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Num Bids Since Round Start</td>
				<td>{{.CurNumBids}}</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Total CS tokens minted</td>
				<td>{{.MainStats.NumCSTokenMints}}</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Prize Amount</td>
				<td class="market_reports">{{ printf "%.5f" .PrizeAmountEth}} ETH</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Prize Claim Date</td>
				<td class="market_reports">{{.PrizeClaimDate}}</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Last Bidder</td>
				<td class="market_reports">{{.LastBidderAddr}}</td>
			</tr>
			</table>
		</td>
		<td>
			<table style="float: right" class="index_stats">
			<tr>
				<td colspan=2 style="text-align: center;"><b>Overall Statistics</b></td>
			</tr>
			<tr class="market_reports">
				<td style="">Num Prizes Given	</td>
				<td>{{.TotalPrizes}}</td>
			</tr>
			<tr class="market_reports">
				<td style="">Total Bids</td>
				<td>{{.RecordCounters.TotalBids}}</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Total Amount Paid in Prizes</td>
				<td>{{.TotalPrizesPaidAmountEth}} ETH</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">CosmicGame Donations Received</td>
				<td>{{.NumCosmicGameDonations}} totalling {{.MainStats.SumCosmicGameDonationsEth}} ETH</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Voluntary Donations Received</td>
				<td>{{.NumVoluntaryDonations}} totalling {{.MainStats.SumVoluntaryDonationsEth}} ETH</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">RandomWalk tokens used</td>
				<td class="market_reports">{{.NumRwalkTokensUsed}}</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Price Increase</td>
				<td class="market_reports">{{.PriceIncrease}}</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Time Increase</td>
				<td class="market_reports">{{.TimeIncrease}}</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Seconds Extra</td>
				<td class="market_reports">{{.NanosecondsExtra}}</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Token Reward</td>
				<td class="market_reports">{{.TokenReward}}</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Prize Percentage</td>
				<td class="market_reports">{{.PrizePercentage}} %</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Raffle Percentage</td>
				<td class="market_reports">{{.RafflePercentage}} %</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Staking Percentage</td>
				<td class="market_reports">{{.StakingPercentage}} %</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Raffle ETH Winners</td>
				<td class="market_reports">{{.NumRaffleEthWinners}}</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Raffle NFT Winners</td>
				<td class="market_reports">{{.NumRaffleNFTWinners}}</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Raffle Holder NFT Winners</td>
				<td class="market_reports">{{.NumHolderNFTWinners}}</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Charity Address</td>
				<td class="market_reports">{{.CharityAddr}}</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Charity Percentage</td>
				<td class="market_reports">{{.CharityPercentage}} %</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Charity Balance</td>
				<td class="market_reports" title="{{.CharityBalance}}" >{{ printf "%.4f" .CharityBalanceEth}} ETH</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Number of unique Bidders</td>
				<td class="market_reports">
					<a href="/black/cosmicgame/user/unique_bidders">{{.NumUniqueBidders}}</a>
				</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Number of unique Winners</td>
				<td class="market_reports">
					<a href="/black/cosmicgame/user/unique_winners">{{.NumUniqueWinners}}</a>
				</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Number of unique Donors</td>
				<td class="market_reports">
					<a href="/black/cosmicgame/user/unique_donors">{{.NumUniqueDonors}}</a>
				</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Number of unique Stakers CST</td>
				<td class="market_reports">
					<a href="/black/cosmicgame/user/unique_stakers_cst">{{.NumUniqueStakersCST}}</a>
				</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Number of unique Stakers RWalk</td>
				<td class="market_reports">
					<a href="/black/cosmicgame/user/unique_stakers_rwalk">{{.NumUniqueStakersRWalk}}</a>
				</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Number of unique Stakers Both</td>
				<td class="market_reports">
					<a href="/black/cosmicgame/user/unique_stakers_both">
						{{.NumUniqueStakersBoth}}
					</a>
				</td>
			</tr>
			<tr class="market_reports">
				<td class="market_reports">Donated NFTs</td>
				<td class="market_reports">
					<a href="/black/cosmicgame/donations/nft/statistics">{{.NumDonatedNFTs}}</a>
				</td>
			</tr>
			</table>
		</td>
	</tr>
</table>
</div>
<br/><br/>
<code style="float: right">
	API: /api/cosmicgame/statistics/dashboard<br/>

	Example: /api/cosmicgame/statistics/dashboard
</code>

</body>
</html>
