<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>NFT Donation Stats</title>
</head>
<body>
	<h3 class="page_title">Statistics on donated NFT tokens<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">Token Address</th>
		<th class="market_reports">Number of donated tokens</th>

	</tr>
	{{- range $i, $change := .NFTDonationStats}}
		<tr class="market_reports">
			<td class="" title="{{.TokenAddressId}}">
				{{.TokenAddress}}
			</td>
			<td class="" style="text-align: center;">{{.NumDonations}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/donations/nft/statistics</br>

	Example: /api/cosmicgame/donations/nft/statistics
</code>
</body>
