<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Notification red box for {{.UserAddr}}</title>
</head>
<body>
	<h3 class="page_title">Notification red box for {{.UserAddr}}<h3>
<table>
	<tr class="market_reports">
		<td class="market_reports">Unclaimed donated NFTs</td>
		<td class="market_reports">
			<a href="/black/cosmicgame/donations/nft/unclaimed/by_user/{{.UserAddr}}">
			{{.Winnings.NumDonatedNFTToClaim}}
			</a>
			(
			<a href="/black/cosmicgame/donations/nft/unclaimed/by_user/{{.UserAddr}}">
			 List of unclaimed NFTs
			</a>
			)
		</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports">Unclaimed ETH winnings</td>
		<td class="market_reports">
			{{ printf "%.8f" .Winnings.ETHRaffleToClaim}}
			{{ if lt 0.0 .Winnings.ETHRaffleToClaim }}
			(
			<a href="/black/cosmicgame/prizes/deposits/unclaimed/by_user/{{.UserAddr}}">
				List of unclaimed deposits
			</a>
			)
			{{ end }}		
		</td>
	<tr class="market_reports">
		<td class="market_reports">Unclaimed Staking Rewards</td>
		<td class="market_reports">
			{{ printf "%.8f" .Winnings.UnclaimedStakingReward}}
			{{ if lt 0.0 .Winnings.UnclaimedStakingReward}}
			(
			<a href="/black/cosmicgame/staking/cst/rewards/to_claim/by_user/{{.UserAddr}}">
				List of unclaimed staking rewards
			</a>
			)
			{{ end }}		
		</td>
	</tr>
	</tr>
	<tr class="market_reports">
		<td class="market_reports">Donated ERC20 tokens</td>
		<td class="market_reports">
			<table>
			<tr class="market_reports">
				<th class="market_reports">Token Addr</th>
				<th class="market_reports">Amount</th>
			</tr>
			{{- range $i, $change := .Winnings.DonatedERC20Tokens}}
				<tr class="market_reports">
					<td style="text-align: center">{{.TokenAddr}}</td>
					<td style="text-align: center;" title="">{{ printf "%.6f" .AmountEth}}</td>
				</tr>
		    {{- end}}
			</table>
		</td>
	</tr>
</table>

		</td>
	</tr>
</table>

<br/><br/>
<code>
	API: /api/cosmicgame/user/notif_red_box/[user_addr]</br>

	Example: /api/cosmicgame/user/notif_red_box/{{.UserAddr}}
</code>
</body>
</html>
