<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Global history of prize distribution</title>
</head>
<body>
	<h3 class="page_title">Global history of prize distribution<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">RecordType</th>
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Round</th>
		<th class="market_reports">Amount (ETH)</th>
		<th class="market_reports">Token Id</th>
		<th class="market_reports">WInner Addr</th>
		<th class="market_reports">Claimed</th>
		<th class="market_reports"></th>
	</tr>
	{{- range $i, $change := .GlobalPrizeHistory}}
		<tr class="market_reports">
		<td class="" title="{{.TimeStamp}}">
			{{ if eq 0 .RecordType}}Main Prize ETH{{end}}
			{{ if eq 1 .RecordType}}Main Prize CST (ERC20){{end}}
			{{ if eq 2 .RecordType}}Main Prize CS NFT{{end}}
			{{ if eq 3 .RecordType}}Last CST Bidder CS NFT (ERC721){{end}}
			{{ if eq 4 .RecordType}}Last CST Bidder ERC20 (CST){{end}}
			{{ if eq 5 .RecordType}}Endurance Champion CS NFT{{end}}
			{{ if eq 6 .RecordType}}Endurance Champion ERC20 (CST){{end}}
			{{ if eq 7 .RecordType}}Chrono Warrior ETH{{end}}
			{{ if eq 8 .RecordType}}Chrono Warrior CST (ERC20){{end}}
			{{ if eq 9 .RecordType}}Chrono Warrior CS NFT{{end}}
			{{ if eq 10 .RecordType}}Raffle ETH (for bidders){{end}}
			{{ if eq 11 .RecordType}}Raffle CST (for bidders){{end}}
			{{ if eq 12 .RecordType}}Raffle CS NFT (for bidders){{end}}
			{{ if eq 13 .RecordType}}Raffle CST (for RandomWalk stakers){{end}}
			{{ if eq 14 .RecordType}}Raffle CS NFT (for RandomWalk stakers){{end}}
			{{ if eq 15 .RecordType}}Staking Deposit ETH (for CS NFT stakers){{end}}
		</td>
			<td class="" style="text-align: center;">
				{{.BlockNum}}
			</td>
			<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
			<td style="text-align: right;" title="">{{ .RoundNum }}</td>
			<td style="text-align: right;" title="">{{printf "%.4f" .AmountEth}}</td>
			<td style="text-align: right;" title="">{{ .TokenId }}</td>
			<td style="text-align: right;" title="">{{ .WinnerAddr }}</td>
			<td style="text-align: right;" title="">{{ .Claimed}}</td>
			<td style="text-align: right;" title="">{{ .TokenURI}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/prizes/history/global/[offset]/[limit]</br>

	Example: /api/cosmicgame/prizes/history/global/0/100000
</code>
</body>
