<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Prize Claims</title>
</head>
<body>
	<h3 class="page_title">Prize Claims<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Winner</th>
		<th class="market_reports">Round Num</th>
		<th class="market_reports">Prize Amount</th>
		<th class="market_reports"></th>
		<th class="market_reports"></th>
		<th class="market_reports"></th>
		<th class="market_reports"></th>
		<th class="market_reports"></th>
		<th class="market_reports"></th>
		<th class="market_reports">Bids</th>
		<th class="market_reports">Donated</th>
		<th class="market_reports">Raffle Deposits</th>
		<th class="market_reports">Raffle NFTs</th>
	</tr>
	{{- range $i, $change := .PrizeClaims}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				<a href="/black/cosmicgame/prize/info/{{.PrizeNum}}">{{.DateTime}}</a>
			</td>
			<td class="addr" title="{{.WinnerAid}}">
				<a href="/black/cosmicgame/user/info/{{.WinnerAddr}}">{{.WinnerAddr}}</a>
			</td>
			<td class="" style="text-align:center;">{{.PrizeNum}}</td>
			<td style="text-align: right;" title="{{.Seed}}">{{printf "%.6f" .AmountEth}} ETH </td>
			<td class="addr" title="{{.WinnerAid}}">
				<a href="/black/cosmicgame/donations/nft/by_prize/{{.PrizeNum}}">&nbsp;&nbsp;Donated NFTs</a>
			</td>
			<td class="addr" title="{{.WinnerAid}}">
				<a href="/black/cosmicgame/donations/eth/both/by_round/{{.PrizeNum}}">&nbsp;&nbsp;Donated ETH</a>
			</td>
			<td class="addr" title="{{.WinnerAid}}">
				<a href="/black/cosmicgame/bid/list_by_round/{{.PrizeNum}}/0/0/100000">&nbsp;&nbsp;Bid list</a>
			</td>
			<td class="addr" title="{{.WinnerAid}}">
				<a href="/black/cosmicgame/raffle/deposits/by_round/{{.PrizeNum}}">&nbsp;&nbsp;Raffle ETH</a>
			</td>
			<td class="addr" title="{{.WinnerAid}}">
				<a href="/black/cosmicgame/raffle/nft_winners/by_round/{{.PrizeNum}}">&nbsp;&nbsp;Raffle NFTs</a>
			</td>
			<td class="addr" title="{{.WinnerAid}}">
				<a href="/black/cosmicgame/staking/cst/rewards/by_round/{{.PrizeNum}}">&nbsp;&nbsp;Staking</a>
			</td>
			<td class="addr" title="{{.WinnerAid}}">
				<a href="/black/cosmicgame/donations/eth/simple/by_round/{{.PrizeNum}}">&nbsp;&nbsp;DS</a>
				<a href="/black/cosmicgame/donations/eth/with_info/by_round/{{.PrizeNum}}">&nbsp;&nbsp;DWI</a>
			</td>
			<td style="text-align:center;">{{.RoundStats.TotalBids}}</td>
			<td style="text-align:center;">{{.RoundStats.TotalDonatedNFTs}}</td>
			<td style="text-align:right;">{{ printf "%.6f" .RoundStats.TotalRaffleEthDepositsEth}} ETH</td>
			<td style="text-align:center;">{{.RoundStats.TotalRaffleNFTs}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/prize/list/[offset]/[limit]</br>

	Example: /api/cosmicgame/prize/list/0/1000000
</code>
</body>
