<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Global history of prize distribution</title>
</head>
<body>
	<h3 class="page_title">Global history of prize distribution<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">RecordType</th>
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Round</th>
		<th class="market_reports">Amount (ETH)</th>
		<th class="market_reports">Token Id</th>
		<th class="market_reports">WInner Addr</th>
		<th class="market_reports">Claimed</th>
		<th class="market_reports"></th>
	</tr>
	{{- range $i, $change := .GlobalPrizeHistory}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				{{ if eq 0 .RecordType}}Raffle ETH Deposit{{end}}
				{{ if eq 1 .RecordType}}CS NFT Token{{end}}
				{{ if eq 2 .RecordType}}Donated NFT{{end}}
				{{ if eq 3 .RecordType}}Main Prize{{end}}
				{{ if eq 4 .RecordType}}CST Staking ETH Deposit{{end}}
				{{ if eq 5 .RecordType}}RWalk Staking Raffle Token{{end}}
				{{ if eq 6 .RecordType}}CST Staking Raffle Token{{end}}
				{{ if eq 7 .RecordType}}Endurance Champion NFT Prize{{end}}
				{{ if eq 8 .RecordType}}Last CST Bidder NFT Prize{{end}}
				{{ if eq 9 .RecordType}}Endurance Champion ERC20 Prize{{end}}
				{{ if eq 10 .RecordType}}Last CST BidderERC20 Prize{{end}}
				{{ if eq 11 .RecordType}}Donated ERC20 Token{{end}}
				{{ if eq 12 .RecordType}}Chrono Warrior Prize{{end}}
			</td>
			<td class="" style="text-align: center;">
				{{.BlockNum}}
			</td>
			<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
			<td style="text-align: right;" title="">{{ .RoundNum }}</td>
			<td style="text-align: right;" title="">{{printf "%.4f" .AmountEth}}</td>
			<td style="text-align: right;" title="">{{ .TokenId }}</td>
			<td style="text-align: right;" title="">{{ .WinnerAddr }}</td>
			<td style="text-align: right;" title="">{{ .Claimed}}</td>
			<td style="text-align: right;" title="">{{ .TokenURI}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/prizes/history/global/[offset]/[limit]</br>

	Example: /api/cosmicgame/prizes/history/global/0/100000
</code>
</body>
