<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Prize record for round number ={{.PrizeInfo.PrizeNum}}</title>
</head>
<body>
	<h3 class="page_title">Prize Claim Info<h3>
<table>
	<tr>
		<td>EvtLog ID</td>
		<td>{{.PrizeInfo.EvtLogId}}
	</tr>
	<tr>
		<td>BlockNum</td>
		<td>{{.PrizeInfo.BlockNum}}</td>
	</tr>
	<tr>
		<td>TxId</td>
		<td>{{.PrizeInfo.TxId}}</td>
	</tr>
	<tr>
		<td>TxHash</td>
		<td>{{.PrizeInfo.TxHash}}</td>
	</td>
	<tr>
		<td>TimeStamp</td>
		<td>
			{{.PrizeInfo.TimeStamp}}
		</td>
	</tr>
	<tr>
		<td>DateTime</td>
		<td>
			{{.PrizeInfo.DateTime}}
		</td>
	</tr>
	<tr>
		<td>Round Num</td>
		<td>
			{{.PrizeInfo.PrizeNum}}
		</td>
	</tr>
	<tr>
		<td>Winner Address</td>
		<td><a class="addr" href="/black/cosmicgame/user/info/{{.PrizeInfo.WinnerAddr}}">{{.PrizeInfo.WinnerAddr}}</a></td>
	</tr>
	<tr>
		<td>Prize Amount</td>
		<td>{{.PrizeInfo.AmountEth}} ETH</td>
	</tr>
	<tr>
		<td>Prized Token ID</td>
		<td>{{.PrizeInfo.TokenId}}</td>
	</tr>
	<tr>
		<td>Seed</td>
		<td>{{.PrizeInfo.Seed}} (ETH)</td>
	</tr>
	<tr>
		<td>Charity Address</td>
		<td>{{.PrizeInfo.CharityAddress}}</td>
	</tr>
	<tr>
		<td>Amount deposited to charity wallet</td>
		<td>{{.PrizeInfo.CharityAmountETH}}</td>
	</tr>
	<tr>
		<td>Staking Deposit Num</td>
		<td>{{.PrizeInfo.StakingDepositNum}}</td>
	</tr>
	<tr>
		<td>Endurance Champion prize winner (CST)</td>
		<td>{{.PrizeInfo.EnduranceWinnerAddr}} , token {{.PrizeInfo.EnduranceERC721TokenId}}</td>
	</tr>
	<tr>
		<td>Endurance Champion prize winner (ERC20)</td>
		<td>{{.PrizeInfo.EnduranceWinnerAddr}} , {{.PrizeInfo.EnduranceERC20AmountEth}}</td>
	</tr>
	<tr>
		<td>StellarSpender prize winner</td>
		<td>{{.PrizeInfo.StellarWinnerAddr}} , token {{.PrizeInfo.StellarERC721TokenId}}</td>
	</tr>
	<tr>
		<td>Stellar Spender prize winner (ERC20)</td>
		<td>{{.PrizeInfo.StellarWinnerAddr}} , {{.PrizeInfo.StellarERC20AmountEth}}</td>
	</tr>

	<tr>
		<td>Statistics</td>
		<td>
			<table>
				<tr>
					<td>Total Bids</td>
					<td>{{.PrizeInfo.RoundStats.TotalBids}}</td>
				</tr>
				<tr>
					<td>Total donated NFTs</td>
					<td>{{.PrizeInfo.RoundStats.TotalDonatedNFTs}}</td>
				</tr>
				<tr>
					<td title="{{.PrizeInfo.RoundStats.TotalRaffleEthDeposits}}">Total Raffle ETH deposits</td>
					<td>{{.PrizeInfo.RoundStats.TotalRaffleEthDepositsEth}}</td>
				</tr>
				<tr>
					<td>Total Raffle NFTs</td>
					<td>{{.PrizeInfo.RoundStats.TotalRaffleNFTs}}</td>
				</tr>
				<tr>
					<td>Unclaimed Donated NFTs</td>
					<td>
						<a href="/black/cosmicgame/donations/nft/unclaimed_by_prize/{{.PrizeInfo.PrizeNum}}">
						Unclaimed
						</a>
					</td>
				</tr>
				<tr>
					<td>Staking Deposit (ETH)</td>
					<td>{{ printf "%.4f" .PrizeInfo.StakingDepositAmountEth }}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<h3> Raffle NFT Winners</h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Winner</th>
		<th class="market_reports">Round</th>
	</tr>
	{{- range $i, $change := .PrizeInfo.RaffleNFTWinners}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				{{.BlockNum}}
			</td>
			<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
			<td class="addr" title="{{.WinnerAid}}">
				<a href="/black/cosmicgame/user/info/{{.WinnerAddr}}">{{.WinnerAddr}}</a>
			</td>
			<td style="text-align: right;" title="">{{ .RoundNum }}</td>
		</tr>
	{{- end}}
</table>
<h3>Raffle ETH Deposits</h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Winner</th>
		<th class="market_reports">Round</th>
		<th class="market_reports">Amount (ETH)</th>

	</tr>
	{{- range $i, $change := .PrizeInfo.RaffleETHDeposits}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				{{.BlockNum}}
			</td>
			<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
			<td class="addr" title="{{.WinnerAid}}">
				<a href="/black/cosmicgame/user/info/{{.WinnerAddr}}">{{.WinnerAddr}}</a>
			</td>
			<td style="text-align: right;" title="">{{ .RoundNum }}</td>
			<td style="text-align: right;" title="">{{printf "%.4f" .Amount}}</td>
		</tr>
	{{- end}}
</table>
<h3>Donated NFTs</h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Index</th>
		<th class="market_reports">Donor</th>
		<th class="market_reports">Token Addr</th>
		<th class="market_reports">NFT Token ID</th>
		<th class="market_reports">NFT Token URI</th>

	</tr>
	{{- range $i, $change := .DonatedNFTs}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				{{.BlockNum}}
			</td>
			            <td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
            <td class="" style="text-align: center;">{{.Index}}</td>
            <td class="addr" title="{{.DonorAid}}">
                <a href="/black/cosmicgame/user/info/{{.DonorAddr}}">{{.DonorAddr}}</a>
            </td>
            <td style="text-align: right;" title="">{{.TokenAddr}}</td>
            <td style="text-align: right;" title="">{{.NFTTokenId}}</td>
            <td style="text-align: right;" title="">{{.NFTTokenURI}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/prize/info/[prize_num]<br/>

	Example: /api/cosmicgame/prize/info/{{.PrizeInfo.PrizeNum}}
</code>
</body>
