<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Prize record for round number ={{.RoundInfo.RoundNum}}</title>
</head>
<body>
	<h3 class="page_title">Round Info<h3>
<table>
	<tr>
		<td>EvtLog ID</td>
		<td>{{.RoundInfo.ClaimPrizeTx.Tx.EvtLogId}}
	</tr>
	<tr>
		<td>BlockNum</td>
		<td>{{.RoundInfo.ClaimPrizeTx.Tx.BlockNum}}</td>
	</tr>
	<tr>
		<td>TxId</td>
		<td>{{.RoundInfo.ClaimPrizeTx.Tx.TxId}}</td>
	</tr>
	<tr>
		<td>TxHash</td>
		<td>{{.RoundInfo.ClaimPrizeTx.Tx.TxHash}}</td>
	</td>
	<tr>
		<td>TimeStamp</td>
		<td>
			{{.RoundInfo.ClaimPrizeTx.Tx.TimeStamp}}
		</td>
	</tr>
	<tr>
		<td>DateTime</td>
		<td>
			{{.RoundInfo.ClaimPrizeTx.Tx.DateTime}}
		</td>
	</tr>
	<tr>
		<td>Round Num</td>
		<td>
			{{.RoundInfo.RoundNum}}
		</td>
	</tr>
	<tr>
		<td>Winner Address</td>
		<td><a class="addr" href="/black/cosmicgame/user/info/{{.PrizeInfo.WinnerAddr}}">{{.RoundInfo.MainPrize.WinnerAddr}}</a></td>
	</tr>
	<tr>
		<td>Main Prize ETH Amount</td>
		<td>{{.RoundInfo.MainPrize.EthAmountEth}} ETH</td>
	</tr>
	<tr>
		<td>Main Prize CST Amount</td>
		<td>{{.RoundInfo.MainPrize.CstAmountEth}} CST</td>
	</tr>
	<tr>
		<td>Main Prize NFT Token ID</td>
		<td>{{.RoundInfo.MainPrize.NftTokenId}}</td>
	</tr>
	<tr>
		<td>Timeout Timestamp</td>
		<td>{{.RoundInfo.MainPrize.TimeoutTs}}</td>
	</tr>
	<tr>
		<td>Seed</td>
		<td>{{.RoundInfo.MainPrize.Seed}}</td>
	</tr>
	<tr>
		<td>Charity Address</td>
		<td>{{.RoundInfo.CharityDeposit.CharityAddress}}</td>
	</tr>
	<tr>
		<td>Amount deposited to charity wallet</td>
		<td>{{.RoundInfo.CharityDeposit.CharityAmountETH}}</td>
	</tr>
	<tr>
		<td>Staking Deposit ID</td>
		<td>{{.RoundInfo.StakingDeposit.StakingDepositId}}</td>
	</tr>
	<tr>
		<td>Endurance Champion prize winner (CST)</td>
		<td>{{.RoundInfo.EnduranceChampion.WinnerAddr}} , token {{.RoundInfo.EnduranceChampion.NftTokenId}}</td>
	</tr>
	<tr>
		<td>Endurance Champion prize winner (ERC20)</td>
		<td>{{.RoundInfo.EnduranceChampion.WinnerAddr}} , {{.RoundInfo.EnduranceChampion.CstAmountEth}}</td>
	</tr>
	<tr>
		<td>Last CST Bidder prize winner</td>
		<td>{{.RoundInfo.LastCstBidder.WinnerAddr}} , token {{.RoundInfo.LastCstBidder.NftTokenId}}</td>
	</tr>
	<tr>
		<td>Last CST Bidder prize winner (ERC20)</td>
		<td>{{.RoundInfo.LastCstBidder.WinnerAddr}} , {{.RoundInfo.LastCstBidder.CstAmountEth}}</td>
	</tr>
	<tr>
		<td>Chrono Warrior</td>
		<td>{{.RoundInfo.ChronoWarrior.WinnerAddr}}</td>
	</tr>
	<tr>
		<td>Chrono Warrior ETH Amount</td>
		<td>{{.RoundInfo.ChronoWarrior.EthAmountEth}} ETH</td>
	</tr>
	<tr>
		<td>Chrono Warrior CST Amount</td>
		<td>{{.RoundInfo.ChronoWarrior.CstAmountEth}} CST</td>
	</tr>
	<tr>
		<td>Chrono Warrior NFT Token ID</td>
		<td>{{.RoundInfo.ChronoWarrior.NftTokenId}}</td>
	</tr>

	<tr>
		<td>Statistics</td>
		<td>
			<table>
				<tr>
					<td>Total Bids</td>
					<td>{{.RoundInfo.RoundStats.TotalBids}}</td>
				</tr>
				<tr>
					<td>Total donated NFTs</td>
					<td>{{.RoundInfo.RoundStats.TotalDonatedNFTs}}</td>
				</tr>
				<tr>
					<td title="{{.RoundInfo.RoundStats.TotalRaffleEthDeposits}}">Total Raffle ETH deposits</td>
					<td>{{.RoundInfo.RoundStats.TotalRaffleEthDepositsEth}}</td>
				</tr>
				<tr>
					<td>Total Raffle NFTs</td>
					<td>{{.RoundInfo.RoundStats.TotalRaffleNFTs}}</td>
				</tr>
				<tr>
					<td>Unclaimed Donated NFTs</td>
					<td>
						<a href="/black/cosmicgame/donations/nft/unclaimed/by_round/{{.RoundInfo.RoundNum}}">
						Unclaimed
						</a>
					</td>
				</tr>
				<tr>
					<td>Staking Deposit (ETH)</td>
					<td>{{ printf "%.4f" .RoundInfo.StakingDeposit.StakingDepositAmountEth }}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<h3> Raffle NFT Winners (Bidders)</h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Winner</th>
		<th class="market_reports">Winner Index</th>
		<th class="market_reports">Round</th>
		<th class="market_reports">NFT Token ID</th>
		<th class="market_reports">CST Amount</th>
	</tr>
	{{- range $i, $change := .RoundInfo.RaffleNFTWinners}}
		<tr class="market_reports">
			<td class="" title="{{.Tx.TimeStamp}}">
				{{.Tx.BlockNum}}
			</td>
			<td class="" title="{{.Tx.TimeStamp}}">{{.Tx.DateTime}}</td>
			<td class="addr" title="{{.WinnerAid}}">
				<a href="/black/cosmicgame/user/info/{{.WinnerAddr}}">{{.WinnerAddr}}</a>
			</td>
			<td style="text-align: center;">{{ .WinnerIndex }}</td>
			<td style="text-align: center;">{{ .RoundNum }}</td>
			<td style="text-align: center;">{{ .TokenId }}</td>
			<td style="text-align: right;">{{ printf "%.4f" .CstAmountEth }} CST</td>
		</tr>
	{{- end}}
</table>
<h3> Staking NFT Winners (RandomWalk Stakers)</h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Winner</th>
		<th class="market_reports">Winner Index</th>
		<th class="market_reports">Round</th>
		<th class="market_reports">NFT Token ID</th>
		<th class="market_reports">CST Amount</th>
	</tr>
	{{- range $i, $change := .RoundInfo.StakingNFTWinners}}
		<tr class="market_reports">
			<td class="" title="{{.Tx.TimeStamp}}">
				{{.Tx.BlockNum}}
			</td>
			<td class="" title="{{.Tx.TimeStamp}}">{{.Tx.DateTime}}</td>
			<td class="addr" title="{{.WinnerAid}}">
				<a href="/black/cosmicgame/user/info/{{.WinnerAddr}}">{{.WinnerAddr}}</a>
			</td>
			<td style="text-align: center;">{{ .WinnerIndex }}</td>
			<td style="text-align: center;">{{ .RoundNum }}</td>
			<td style="text-align: center;">{{ .TokenId }}</td>
			<td style="text-align: right;">{{ printf "%.4f" .CstAmountEth }} CST</td>
		</tr>
	{{- end}}
</table>
<h3>Raffle ETH Deposits (Bidders)</h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Winner</th>
		<th class="market_reports">Winner Index</th>
		<th class="market_reports">Round</th>
		<th class="market_reports">Amount (ETH)</th>
	</tr>
	{{- range $i, $change := .RoundInfo.RaffleETHDeposits}}
		<tr class="market_reports">
			<td class="" title="{{.Tx.TimeStamp}}">
				{{.Tx.BlockNum}}
			</td>
			<td class="" title="{{.Tx.TimeStamp}}">{{.Tx.DateTime}}</td>
			<td class="addr" title="{{.WinnerAid}}">
				<a href="/black/cosmicgame/user/info/{{.WinnerAddr}}">{{.WinnerAddr}}</a>
			</td>
			<td style="text-align: center;">{{ .WinnerIndex }}</td>
			<td style="text-align: center;">{{ .RoundNum }}</td>
			<td style="text-align: right;">{{printf "%.4f" .Amount}} ETH</td>
		</tr>
	{{- end}}
</table>
<h3>Donated NFTs</h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Index</th>
		<th class="market_reports">Donor</th>
		<th class="market_reports">Token Addr</th>
		<th class="market_reports">NFT Token ID</th>
		<th class="market_reports">NFT Token URI</th>

	</tr>
	{{- range $i, $change := .DonatedNFTs}}
		<tr class="market_reports">
			<td class="" title="{{.Tx.TimeStamp}}">
				{{.Tx.BlockNum}}
			</td>
			            <td class="" title="{{.Tx.TimeStamp}}">{{.Tx.DateTime}}</td>
            <td class="" style="text-align: center;">{{.Index}}</td>
            <td class="addr" title="{{.DonorAid}}">
                <a href="/black/cosmicgame/user/info/{{.DonorAddr}}">{{.DonorAddr}}</a>
            </td>
            <td style="text-align: right;" title="">{{.TokenAddr}}</td>
            <td style="text-align: right;" title="">{{.NFTTokenId}}</td>
            <td style="text-align: right;" title="">{{.NFTTokenURI}}</td>
		</tr>
	{{- end}}
</table>
<h3>Donated ERC20 Tokens</h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Donor</th>
		<th class="market_reports">Token Address</th>
		<th class="market_reports">Amount</th>
	</tr>
	{{- range $i, $change := .DonatedERC20s}}
		<tr class="market_reports">
			<td class="" title="{{.Tx.TimeStamp}}">
				{{.Tx.BlockNum}}
			</td>
			<td class="" title="{{.Tx.TimeStamp}}">{{.Tx.DateTime}}</td>
			<td class="addr" title="{{.DonorAid}}">
				<a href="/black/cosmicgame/user/info/{{.DonorAddr}}">{{.DonorAddr}}</a>
			</td>
			<td style="text-align: right;" title="">{{.TokenAddr}}</td>
			<td style="text-align: right;" title="">{{printf "%.4f" .AmountEth}}</td>
		</tr>
	{{- end}}
</table>
<h3>All Prizes for This Round</h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">Prize Type</th>
		<th class="market_reports">Winner Address</th>
		<th class="market_reports">ETH Amount</th>
		<th class="market_reports">CST Amount</th>
		<th class="market_reports">NFT Token ID</th>
	</tr>
	{{- range $i, $change := .RoundInfo.AllPrizes}}
		<tr class="market_reports">
		<td class="">
			{{ if eq 0 .RecordType}}Main Prize ETH{{end}}
			{{ if eq 1 .RecordType}}Main Prize CST (ERC20){{end}}
			{{ if eq 2 .RecordType}}Main Prize CS NFT{{end}}
			{{ if eq 3 .RecordType}}Last CST Bidder CS NFT (ERC721){{end}}
			{{ if eq 4 .RecordType}}Last CST Bidder ERC20 (CST){{end}}
			{{ if eq 5 .RecordType}}Endurance Champion CS NFT{{end}}
			{{ if eq 6 .RecordType}}Endurance Champion ERC20 (CST){{end}}
			{{ if eq 7 .RecordType}}Chrono Warrior ETH{{end}}
			{{ if eq 8 .RecordType}}Chrono Warrior CST (ERC20){{end}}
			{{ if eq 9 .RecordType}}Chrono Warrior CS NFT{{end}}
			{{ if eq 10 .RecordType}}Raffle ETH (for bidders){{end}}
			{{ if eq 11 .RecordType}}Raffle CST (for bidders){{end}}
			{{ if eq 12 .RecordType}}Raffle CS NFT (for bidders){{end}}
			{{ if eq 13 .RecordType}}Raffle CST (for RandomWalk stakers){{end}}
			{{ if eq 14 .RecordType}}Raffle CS NFT (for RandomWalk stakers){{end}}
			{{ if eq 15 .RecordType}}Staking Deposit ETH (for CS NFT stakers){{end}}
		</td>
			<td class="addr">
				<a href="/black/cosmicgame/user/info/{{.WinnerAddr}}">{{.WinnerAddr}}</a>
			</td>
			<td style="text-align: right;">
				{{ if or (eq 0 .RecordType) (eq 7 .RecordType) (eq 10 .RecordType) (eq 15 .RecordType) }}
					{{ printf "%.5f" .AmountEth }} ETH
				{{ end }}
			</td>
			<td style="text-align: right;">
				{{ if or (eq 1 .RecordType) (eq 4 .RecordType) (eq 6 .RecordType) (eq 8 .RecordType) (eq 11 .RecordType) (eq 13 .RecordType) }}
					{{ printf "%.5f" .AmountEth }} CST
				{{ end }}
			</td>
			<td style="text-align: center;">
				{{ if or (eq 2 .RecordType) (eq 3 .RecordType) (eq 5 .RecordType) (eq 9 .RecordType) (eq 12 .RecordType) (eq 14 .RecordType) }}
					{{ .TokenId }}
				{{ end }}
			</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/rounds/info/[prize_num]<br/>

	Example: /api/cosmicgame/rounds/info/{{.RoundInfo.RoundNum}}
</code>
</body>
