<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<link href="/black/res/cosmicgame.css" rel="stylesheet">
	<title>CST Tokens Staked by User</title>
</head>
<body>
	<div class="cg-container">
		<div class="page-header">
			<div class="home-button">
				<nav>
					<ul>
						<li style="width: 10em;">
							<a class="btn_link" href="/black/cosmicgame">🏠 Home</a>
							<span></span><span></span><span></span><span></span>
						</li>
					</ul>
				</nav>
			</div>
			<h1>💰 CST Tokens Staked by User</h1>
			<div class="address-display">{{.UserAddr}}</div>
		</div>

		<div class="section-card">
			<div class="action-grid" style="margin-bottom: 2em;">
				<div class="action-item">
					<nav>
						<ul>
							<li style="width: 100%;">
								<a class="btn_link" href="/black/cosmicgame/user/info/{{.UserAddr}}">Back to User Info</a>
								<span></span><span></span><span></span><span></span>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<table class="data-table">
				<tr>
					<th>Block</th>
					<th>Stake DateTime</th>
					<th class="center">Token ID</th>
					<th class="center">Action ID</th>
				</tr>
				{{- range $i, $change := .StakedTokensCST}}
					<tr>
						<td>{{.TokenInfo.Tx.BlockNum}}</td>
						<td>{{.StakeDateTime}}</td>
						<td class="center">
							<a href="/black/cosmicgame/cst/info/{{.TokenInfo.TokenId}}">{{.TokenInfo.TokenId}}</a>
						</td>
						<td class="center">
							<a href="/black/cosmicgame/staking/cst/actions/info/{{.StakeActionId}}">{{.StakeActionId}}</a>
						</td>
					</tr>
				{{- end}}
			</table>
		</div>

		<div class="api-info">
			<strong>API Endpoint:</strong><br/>
			<code>/api/cosmicgame/staking/cst/staked_tokens/by_user/[user_addr]</code><br/><br/>
			<strong>Example:</strong><br/>
			<code>/api/cosmicgame/staking/cst/staked_tokens/by_user/{{.UserAddr}}</code>
		</div>
	</div>
</body>
</html>
