<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Collected staking rewards in StakingWallet CST for user {{.UserAddr}}</title>
</head>
<body>
	<h3 class="page_title">Collected staking rewards in StakingWallet CST for user {{.UserAddr}}<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Deposit Id</th>
		<th class="market_reports">Total staked tokens</th>
		<th class="market_reports">Total deposited</th>
		<th class="market_reports">Reward on your stake</th>
		<th class="market_reports">Your stake (num)</th>
		<th class="market_reports">Your stake<br/> collected(num)</th>
		<th class="market_reports">Amount collected (ETH)</th>
	</tr>
	{{- range $i, $change := .CollectedStakingCSTRewards}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				{{.BlockNum}}
			</td>
			<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
			<td style="text-align: center;" title="">
				<a href="/black/cosmicgame/staking/rewards/action_ids_by_deposit/{{$.UserAddr}}/{{.DepositId}}">
				{{.DepositId}}
				</a>
			</td>
			<td style="text-align: center;" title="">{{.NumStakedNFTs}}</td>
			<td style="text-align: center;" title="">{{ printf "%.6f" .TotalDepositAmountEth}}</td>
			<td style="text-align: center;" title="">{{ printf "%.6f" .YourAmountToClaimEth}}</td>
			<td style="text-align: center;" title="">{{.YourTokensStaked}}</td>
			<td style="text-align: center;" title="">{{.NumTokensCollected}}</td>
			<td style="text-align: center;" title="">{{ printf "%.6f" .YourCollectedAmountEth}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/marketing/rewards/global/[offset]/[limit]</br>

	Example: /api/cosmicgame/marketing/rewards/global/0/10000
</code>
</body>
