<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Unclaimed staking rewards in StakingWalletCST for user {{.UserAddr}}</title>
</head>
<body>
	<h3 class="page_title">Unclaimed staking rewards in StakingWalletCST for user {{.UserAddr}}<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Deposit Id</th>
		<th class="market_reports">Total staked tokens</th>
		<th class="market_reports">Total deposited</th>
		<th class="market_reports">Reward per token</th>
		<th class="market_reports">Your stake position size</th>
		<th class="market_reports">Your reward in your stake position</th>
	</tr>
	{{- range $i, $change := .UnclaimedEthDeposits}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}" style="text-align:right;">
				{{.BlockNum}}&nbsp;&nbsp;
			</td>
			<td class="" title="{{.TimeStamp}}">
				<a href="/black/cosmicgame/staking/cst/rewards/action_ids_by_deposit/{{$.UserAddr}}/{{.DepositId}}">
				{{.DateTime}}
				</a>
			</td>
			<td class="" style="text-align: center;">{{.DepositId}}</td>
			<td style="text-align: center;" title="">{{.NumStakedNFTs}}</td>
			<td style="text-align: right;" title="">{{printf "%.6f" .DepositAmountEth}}</td>
			<td style="text-align: right;" title="">{{printf "%.6f" .AmountPerTokenEth}}</td>
			<td style="text-align: center;" title="">{{.YourTokensStaked}}</td>
			<td style="text-align: right;" title="">{{ printf "%.6f" .YourClaimableAmountEth}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/staking/cst/rewards/to_claim/by_user/:user_addr</br>

	Example: /api/cosmicgame/staking/cst/rewards/to_claim/by_user/{{.UserAddr}}
</code>
</body>
