<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Round configurations</title>
</head>
<body>
	<h3 class="page_title">Round configurations</h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">RoundNum</th>
		<th class="market_reports"></th>
		<th class="market_reports">Event Low</th>
		<th class="market_reports">Event High</th>
	</tr>
	{{- range $i, $change := .SystemModeChanges}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">{{.BlockNum}}</td>
			<td class="" title="{{.TimeStamp}}">
				{{ if eq -1 .EvtLogId }}Deployment{{else}}
				{{.DateTime}}
				{{ end }}
			</td>
			<td style="text-align: center" >
				{{.RoundNum}}
			</td>
			<td style="text-align: center" >
				<a href="/black/cosmicgame/system/admin_events/{{.EvtLogId}}/{{.NextEvtLogId}}">
					Events
				</a>
			</td>
			<td style="text-align: center" >{{.EvtLogId}}</td>
			<td style="text-align: center" >{{.NextEvtLogId}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/system/modelist/[offset]/[limit]</br>

	Example: /api/cosmicgame/system/modelist/0/10000
</br></br>
Note : to get events from the moment of contract deployments use -1 in offset parameter:</br>

	Example: /api/cosmicgame/system/modelist/-1/10000


</code>
</body>
