<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>CST Stake Action info action_id={{.CombinedCSTStakingRecordInfo.Stake.ActionId}}</title>
</head>
<body>
	<h3 class="page_title">CST Stake Action Info<h3>
<table>
	<tr>
		<td>EvtLog ID</td>
		<td>{{.CombinedCSTStakingRecordInfo.Stake.EvtLogId}}
	</tr>
	<tr>
		<td>BlockNum</td>
		<td>{{.CombinedCSTStakingRecordInfo.Stake.BlockNum}}</td>
	</tr>
	<tr>
		<td>TxId</td>
		<td>{{.CombinedCSTStakingRecordInfo.Stake.TxId}}</td>
	</tr>
	<tr>
		<td>TxHash</td>
		<td>{{.CombinedCSTStakingRecordInfo.Stake.TxHash}}</td>
	</td>
	<tr>
		<td>TimeStamp</td>
		<td>
			{{.CombinedCSTStakingRecordInfo.Stake.TimeStamp}}
		</td>
	</tr>
	<tr>
		<td>DateTime</td>
		<td>
			{{.CombinedCSTStakingRecordInfo.Stake.DateTime}}
		</td>
	</tr>
	<tr>
		<td>Action Id</td>
		<td>{{.CombinediCSTStakingRecordInfo.Stake.ActionId}}</td>
	</tr>
	<tr>
		<td>Token Id</td>
		<td>{{.CombinedCSTStakingRecordInfo.Stake.TokenId}}</td>
	</tr>
	<tr>
		<td>Num Staked NFTs</td>
		<td>{{.CombinedCSTStakingRecordInfo.Stake.NumStakedNFTs}}</td>
	</tr>
	<tr>
		<td>Staker Address</td>
		<td><a class="addr" href="/black/cosmicgame/user/info/{{.CombinedCSTStakingRecordInfo.Stake.StakerAddr}}">{{.CombinedCSTStakingRecordInfo.Stake.StakerAddr}}</a></td>
	</tr>
</table>
	<h3 class="page_title">Unstake Action Info<h3>
<table>
	<tr>
		<td>EvtLog ID</td>
		<td>{{.CombinedCSTStakingRecordInfo.Unstake.EvtLogId}}
	</tr>
	<tr>
		<td>BlockNum</td>
		<td>{{.CombinedCSTStakingRecordInfo.Unstake.BlockNum}}</td>
	</tr>
	<tr>
		<td>TxId</td>
		<td>{{.CombinediCSTStakingRecordInfo.Unstake.TxId}}</td>
	</tr>
	<tr>
		<td>TxHash</td>
		<td>{{.CombinediCSTStakingRecordInfo.Unstake.TxHash}}</td>
	</td>
	<tr>
		<td>TimeStamp</td>
		<td>
			{{.CombinediCSTStakingRecordInfo.Unstake.TimeStamp}}
		</td>
	</tr>
	<tr>
		<td>DateTime</td>
		<td>
			{{.CombinedCSTStakingRecordInfo.Unstake.DateTime}}
		</td>
	</tr>
	<tr>
		<td>Action Id</td>
		<td>{{.CombinedCSTStakingRecordInfo.Unstake.ActionId}}</td>
	</tr>
	<tr>
		<td>Token Id</td>
		<td>{{.CombinedCSTStakingRecordInfo.Unstake.TokenId}}</td>
	</tr>
	<tr>
		<td>Num Staked NFTs</td>
		<td>{{.CombinedCSTStakingRecordInfo.Unstake.NumStakedNFTs}}</td>
	</tr>
	<tr>
		<td>Staking Reward</td>
		<td>{{.CombinedCSTStakingRecordInfo.Unstake.RewardAmountEth}}</td>
	</tr>
	<tr>
		<td>Staking Reward Per Token</td>
		<td>{{.CombinedCSTStakingRecordInfo.Unstake.RewardPerTokenEth}}</td>
	</tr>
	<tr>
		<td>Staker Address</td>
		<td><a class="addr" href="/black/cosmicgame/user/info/{{.CombinedCSTStakingRecordInfo.Unstake.StakerAddr}}">{{.CombinedCSTStakingRecordInfo.Unstake.StakerAddr}}</a></td>
	</tr>
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/staking/cst/actions/info/[action_id]<br/>

	Example: /api/cosmicgame/staking/cst/actions/info/{{.CombinedCSTStakingRecordInfo.Stake.ActionId}}
</code>
</body>
