<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Admin Events in range from {{.EvtLogIdStart}} to {{.EvtLogIdEnd}}</title>
</head>
<body>
	<h3 class="page_title">
		Admin Events in range from {{.EvtLogIdStart}} to {{.EvtLogIdEnd}}
	</h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">Event</th>
		<th class="market_reports">Block</th>
		<th class="market_reports">Date</th>
		<th class="market_reports">New value</th>

	</tr>
	{{- range $i, $change := .AdminEvents}}
		<tr class="market_reports">
			<td style="text-align: left;">
				 {{ if eq 0 .RecordType}}Undefined{{end}}
				 {{ if eq 1 .RecordType}}CharityPercentageChanged{{end}}
				 {{ if eq 2 .RecordType}}PrizePercentageChanged{{end}}
				 {{ if eq 3 .RecordType}}RafflePercentageChanged{{end}}
				 {{ if eq 4 .RecordType}}StakingPercentageChanged{{end}}
				 {{ if eq 5 .RecordType}}NumRaffleETHWinnersBiddingChanged{{end}}
				 {{ if eq 6 .RecordType}}NumRaffleNFTWinnersBiddingChanged{{end}}
				 {{ if eq 7 .RecordType}}NumRaffleNFTWinnersStakingCSTChanged{{end}}
				 {{ if eq 8 .RecordType}}NumRaffleNFTWinnersStakingRWalk{{end}}
				 {{ if eq 9 .RecordType}}CharityAddressChanged{{end}}
				 {{ if eq 10 .RecordType}}RandomWalkAddressChanged{{end}}
				 {{ if eq 11 .RecordType}}RaffleWalletAddressChanged{{end}}
				 {{ if eq 12 .RecordType}}StakingWalletCSTAddressChanged{{end}}
				 {{ if eq 13 .RecordType}}StakingWalletRWalkAddressChanged{{end}}
				 {{ if eq 14 .RecordType}}MarketingWalletAddressChanged{{end}}
				 {{ if eq 15 .RecordType}}CosmicTokenAddressChanged{{end}}
				 {{ if eq 16 .RecordType}}CosmicSignatureAddressChanged{{end}}
				 {{ if eq 17 .RecordType}}BusinessLogicAddressChanged{{end}}
				 {{ if eq 18 .RecordType}}TimeIncreaseChanged{{end}}
				 {{ if eq 19 .RecordType}}TimeoutClaimPrizeChanged{{end}}
				 {{ if eq 20 .RecordType}}PriceIncreaseChanged{{end}}
				 {{ if eq 21 .RecordType}}NanoSecondsExtraChanged{{end}}
				 {{ if eq 22 .RecordType}}InitialSecondsUntilPrizeChanged{{end}}
				 {{ if eq 23 .RecordType}}InitialBidAmountFractionChanged{{end}}
				 {{ if eq 24 .RecordType}}ActivationTimeChanged{{end}}
				 {{ if eq 25 .RecordType}}ETHToCSTBidRatioChanged{{end}}
				 {{ if eq 26 .RecordType}}RoundStartCSTAuctionLengthChanged{{end}}
			</td>
			<td style="text-align: center;">{{.BlockNum}}</td>
			<td style="text-align: left;">{{.DateTime}};</td>
			<td style="text-align: left;">
				 {{ if eq 0 .RecordType}}Undefined{{end}}
				 {{ if eq 1 .RecordType}}{{.IntegerValue}}{{end}}
				 {{ if eq 2 .RecordType}}{{.IntegerValue}}{{end}}
				 {{ if eq 3 .RecordType}}{{.IntegerValue}}{{end}}
				 {{ if eq 4 .RecordType}}{{.IntegerValue}}{{end}}
				 {{ if eq 5 .RecordType}}{{.IntegerValue}}{{end}}
				 {{ if eq 6 .RecordType}}{{.IntegerValue}}{{end}}
				 {{ if eq 7 .RecordType}}{{.IntegerValue}}{{end}}
				 {{ if eq 8 .RecordType}}{{.IntegerValue}}{{end}}
				 {{ if eq 9 .RecordType}}{{.AddressValue}}{{end}}
				 {{ if eq 10 .RecordType}}{{.AddressValue}}{{end}}
				 {{ if eq 11 .RecordType}}{{.AddressValue}}{{end}}
				 {{ if eq 12 .RecordType}}{{.AddressValue}}{{end}}
				 {{ if eq 13 .RecordType}}{{.AddressValue}}{{end}}
				 {{ if eq 14 .RecordType}}{{.AddressValue}}{{end}}
				 {{ if eq 15 .RecordType}}{{.AddressValue}}{{end}}
				 {{ if eq 16 .RecordType}}{{.AddressValue}}{{end}}
				 {{ if eq 17 .RecordType}}{{.AddressValue}}{{end}}
				 {{ if eq 18 .RecordType}}{{.IntegerValue}}{{end}}
				 {{ if eq 19 .RecordType}}{{.IntegerValue}}{{end}}
				 {{ if eq 20 .RecordType}}{{.IntegerValue}}{{end}}
				 {{ if eq 21 .RecordType}}{{.IntegerValue}}{{end}}
				 {{ if eq 22 .RecordType}}{{.IntegerValue}}{{end}}
				 {{ if eq 23 .RecordType}}{{.IntegerValue}}{{end}}
				 {{ if eq 24 .RecordType}}{{.IntegerValue}}{{end}}
				 {{ if eq 25 .RecordType}}{{.IntegerValue}}{{end}}
				 {{ if eq 26 .RecordType}}{{.IntegerValue}}{{end}}
			</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/system/admin_events/[evtlog_start]/[evtlog_end]</br>

Example: /api/cosmicgame/system/admin_events/{{.EvtLogIdStart}}/{{.EvtLogIdEnd}}
</code>
</body>
