<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>CST Staking Rewards global</title>
</head>
<body>
	<h3 class="page_title">CST Staking Rewards global<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">RecordId</th>
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Round Num</th>
		<th class="market_reports">Deposit Amount (ETH)</th>
		<th class="market_reports">Collected (ETH)</th>
		<th class="market_reports">Pending to collect</th>
		<th class="market_reports">Fully collected</th>
	</tr>
	{{- range $i, $change := .StakingCSTRewards}}
		<tr class="market_reports">
			<td class="" style="text-align: center;" title="{{.TimeStamp}}">{{.RecordId}}</td>
			<td class="" style="text-align: center;" title="{{.TimeStamp}}">{{.BlockNum}}</td>
			<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
			<td class="" style="text-align: center;" title="{{.TimeStamp}}">{{.RoundNum}}</td>
			<td style="text-align: right;" title="">{{printf "%.6f" .TotalDepositAmountEth}}</td>
			<td style="text-align: center;">{{.AlreadyCollectedEth}}</td>
			<td style="text-align: right;" title="">{{printf "%.6f" .PendingToCollectEth}}</td>
			<td class="" style="text-align: center;">{{.FullyClaimed}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/staking/cst/rewards/global</br>

	Example: /api/cosmicgame/staking/cst/rewards/global
</code>
</body>
