<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Tokens staked globally </title>
</head>
<body>
	<h3 class="page_title">Tokens staked globally (for all users)<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Stake ActionId</th>
		<th class="market_reports">Stake Datetime</th>
		<th class="market_reports">UnStake Datetime</th>
		<th class="market_reports">TokenId</th>
		<th class="market_reports">IsRwalk?</th>
		<th class="market_reports">User</th>
	</tr>
	{{- range $i, $change := .StakedTokens}}
		<tr class="market_reports">
			<td style="text-align: center;">{{.StakeBlockNum}}</td>
			<td style="text-align: center;">{{.StakeActionId}}</td>
			<td style="text-align: center;" title="">{{.StakeDateTime}}</td>
			<td style="text-align: center;" title="">{{.UnstakeDateTime}}</td>
			<td style="text-align: center;" title="">
				<a href="/black/cosmicgame/cst/info/{{.TokenInfo.TokenId}}">{{.TokenInfo.TokenId}}</a>
			</td>
			<td style="text-align: center;" title="">{{.StakedIsRandomWalk}}</td>
			<td style="text-align: left;" class="addr"  title="">
				<a href="/black/cosmicgame/user/nft/staked/{{.UserAddr}}">{{.UserAddr}}</a>
			</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/cst/staked</br>

	Example: /api/cosmicgame/cst/staked
</code>
</body>
