<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Reward paid records for user {{.UserAddr}}</title>
</head>
<body>
	<h3 class="page_title">Reward-paid records in StakingWallet CST for user {{.UserAddr}}<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">ActionId</th>
		<th class="market_reports">TokenId</th>
		<th class="market_reports">Reward amount</th>
	</tr>
	{{- range $i, $change := .RewardPaidRecords}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				{{.BlockNum}}
			</td>
			<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
			<td style="text-align: center;" title="">{{.ActionId}}	</td>
			<td style="text-align: center;" title="">{{.TokenId}}</td>
			<td style="text-align: center;" title="">{{ printf "%.6f" .RewardAmountEth}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/staking/cst/rewards/paid/by_user/[user_addr]</br>

	Example: /api/cosmicgame/staking/cst/rewards/paid/by_user/{{.UserAddr}}
</code>
</body>
