<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Staking Rewards By Deposit for {{.UserAddr}}</title>
</head>
<body>
	<h3 class="page_title">Staking Rewards By Deposit for {{.UserAddr}}<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">Deposit Info</th>
		<th class="market_reports">Detailed info on rewards per token</th>
	</tr>
	{{- range $i, $change := .RewardsByDeposit}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				<table class="market_reports">
					<tr>
						<td>Block Num</td>
						<td>{{.BlockNum}}</th>
					</tr>
					<tr>
						<td>Datetime </td>
						<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
					</tr>
					<tr>
						<td>Deposit Id</td>
						<td>
							<a href="/black/cosmicgame/staking/cst/rewards/action_ids_by_deposit/{{$.UserAddr}}/{{.DepositId}}">
							{{.DepositId}}
							</a>
						</td>
					</tr>
					<tr>
						<td>Round</td>
						<td>{{.DepositRoundNum}}</td>
					</tr>
					<tr>
						<td>Total tokens staked</td>
						<td>{{.NumStakedNFTs}}</td>
					</tr>
					<tr>
						<td>Reward per token</td>
						<td>{{ printf "%.6f" .AmountPerTokenEth}}</td>
					</tr>
					<tr>
						<td>Your claimable Amount(ETH)</td>
						<td style="text-align: right;">{{ printf "%.6f" .YourClaimableAmountEth}}</td>
					</tr>
					<tr>
						<td>Your tokens staked</td>
						<td style="text-align: left;" title="">{{.YourTokensStaked}}</td>
					</tr>
					<tr>
						<td>Tokens collected</td>
						<td style="text-align: left;" title="">{{.NumTokensCollected}}</td>
					</tr>
					<tr>
						<td>Accum. Amount collected (ETH)</td>
						<td style="text-align: right;" title="">{{ printf "%.6f" .ClaimedAmountEth}}</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th class="market_reports">RecordID</th>
						<th class="market_reports">ActionID</th>
						<th class="market_reports">TokenID</th>
						<th class="market_reports">Stake Date</th>
						<th class="market_reports">Reward (Wei)</th>
						<th class="market_reports">Reward (ETH)</th>
						<th class="market_reports">Collected ?</th>
						<th class="market_reports">Unstake Date</th>
						<th class="market_reports">Payment on unstake() tx</th>
					</tr>
					{{- range $j, $row := .Actions }}
					<tr class="market_reports">
						<td class="" style="text-align: center;">
							{{.Stake.RecordId}}
						</td>
						<td class="" style="text-align: center;">
							{{.Stake.ActionId}}
						</td>
						<td class="" style="text-align: center;">
							{{.Stake.TokenId}}
						</td>
						<td class="">
							{{.Stake.DateTime}}
						</td>
						<td>{{.Reward }}</td>
						<td style="text-align: center;">
							&nbsp; {{ printf "%.6f" .RewardEth}} &nbsp;
						</td>
						<td style="text-align: center;">
							{{ if .Claimed }} Yes {{ else }}No {{ end}}
						</td>
						<td>
							{{.Unstake.DateTime}}
						</td>
						<td style="text-align: right;">
							{{ printf "%.6f" .Unstake.RewardAmountEth }}
						</td>
					</tr>
					{{- end }}
				</table>
			</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/staking/cst/rewards/by_user/by_deposit/[user_addr]</br>

	Example: /api/cosmicgame/staking/cst/rewards/by_user/by_deposit/{{.UserAddr}}
</code>
</body>
