<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Stake/Unstake actions in StakingWalletCST for user {{.UserAddr}}</title>
</head>
<body>
	<h3 class="page_title">Stake/Unstake actions in StakingWalletCST for user {{.UserAddr}}<h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Action Type</th>
		<th class="market_reports">Action ID</th>
		<th class="market_reports">Token ID</th>
		<th class="market_reports">Unstake date</th>
		<th class="market_reports">Num NFTs</th>


	</tr>
	{{- range $i, $change := .StakingActionsCST}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				{{.BlockNum}}
			</td>
			<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
			<td style="text-align: center;" title="">
				{{if eq .ActionType 0 }}Stake{{ else }}Unstake{{ end }}
			</td>
			<td style="text-align: center;" title="">
				<a href="/black/cosmicgame/staking/actions/info/{{.ActionId}}">
				{{.ActionId}}
				</a>
			</td>
			<td style="text-align: center;" title="">{{.TokenId}}</td>
			<td style="text-align: center;" title="">
				{{ if eq .ActionType 0 }}
				{{.UnstakeDate}}
				{{ end }}
			</td>
			<td style="text-align: center;" title="">{{.NumStakedNFTs}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/staking/cst/actions/by_user/:user_addr/:offset/:limit</br>

	Example: /api/cosmicgame/staking/cst/actions/by_user/{{.UserAddr}}/0/100000
</code>
</body>
