<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Name history for {{.TokenId}}</title>
</head>
<body>
	<h3 class="page_title">History of token name change<h3>
	<h3 class="page_title">Token Id = {{.TokenId}} </h3>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Token name</th>
	</tr>
	{{- range $i, $change := .TokenNameHistory}}
		<tr class="market_reports">
			<td class="" style="text-align: center;">
				{{.Tx.BlockNum}}
			</td>
			<td class="" title="{{.Tx.TimeStamp}}">{{.Tx.DateTime}}</td>
			<td style="text-align: right;" title="">{{ .TokenName}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/cst/names/history/[token_id] </br>

	Example: /api/cosmicgame/cst/names/history/{{.TokenId}}
</code>
</body>
