<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Transfers of User {{.UserAddr}} for CosmicToken (ERC20) contract</title>
</head>
<body>
	<h4 class="page_title">Transfers of User {{.UserAddr}} for CosmicToken (ERC20) contract<h4>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">From</th>
		<th class="market_reports">To</th>
		<th class="market_reports">Value</th>
		<th class="market_reports">ValueFloat</th>
	</tr>
	{{- range $i, $change := .CosmicTokenTransfers}}
	<tr class="market_reports">
		<td class="" title="{{.TimeStamp}}">
			{{.BlockNum}}
		</td>
		<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
		<td class="addr" title="{{.FromAid}}">
			<a href="/black/cosmicgame/user/info/{{.FromAddr}}">{{.FromAddr}}</a>
		</td>
		<td class="addr" title="{{.ToAid}}">
			<a href="/black/cosmicgame/user/info/{{.ToAddr}}">{{.ToAddr}}</a>
		</td>
		<td style="text-align: right;" title="">
			{{.Value}}
		</td>
		<td style="text-align: right;" title="">
			{{ printf "%.2f" .ValueFloat}}
		</td>
	</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/cosmicgame/ct/transfers/by_user/[user_addr]/[offset]/[limit]</br>

	Example: /api/cosmicgame/ct/transfers/by_user/{{.UserAddr}}/{{.Offset}}/{{.Limit}}
</code>
</body>
