<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>User Info for {{.UserInfo.Address}}</title>
</head>
<body>
	<h3 class="page_title">User Info page for {{.UserInfo.Address}}<h3>
<table>
	<tr class="market_reports">
		<td class="market_reports" title="{{.UserInfo.AddressId}}">Address</td>
		<td class="market_reports">{{.UserInfo.Address}}</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports">Number of Bids</td>
		<td class="market_reports">{{.UserInfo.NumBids}}</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports">Maximum Bid Amount</td>
		<td class="market_reports">{{.UserInfo.MaxBidAmount}} (ETH)</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports">Number of Prizes taken</td>
		<td class="market_reports">{{.UserInfo.NumPrizes}}</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports">Maximum amount gained (in prize winnings)</td>
		<td class="market_reports">{{.UserInfo.MaxWinAmount}}</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports">Amount of winnings in ETH raffles</td>
		<td class="market_reports">
			{{.UserInfo.SumRaffleEthWinnings}}
			{{ if lt 0.0 .UserInfo.SumRaffleEthWinnings }}
			<a href="javascript: alert('not implemented')">Claim ETH winnings</a>
			{{ end }}
		</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports">Amount withdrawn from ETH raffles</td>
		<td class="market_reports">{{.UserInfo.SumRaffleEthWithdrawal}}</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports">Unclaimed NFTs</td>
		<td class="market_reports">
			<a href="/black/cosmicgame/user/nft/unclaimed_by_user/{{.UserInfo.Address}}">
			{{.UserInfo.UnclaimedNFTs}}
			</a>
			<a href="/black/cosmicgame/user/nft/claims/{{.UserInfo.Address}}">
				View claim list
			</a>
		</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports">Total ETH won in raffles</td>
		<td class="market_reports">
			<a href="/black/cosmicgame/user/raffle_deposits/{{.UserInfo.Address}}">
			{{.UserInfo.SumRaffleEthWinnings}}
			</a>
			&nbsp;&nbsp;
			<a href="/black/cosmicgame/user/raffle_deposits/{{.UserInfo.Address}}">
				<small>Raffle ETH Deposits</small>
			</a>
		</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports">Number of (ETH) raffles participated in</td>
		<td class="market_reports">
			<a href="/black/cosmicgame/user/raffle_deposits/{{.UserInfo.Address}}">
			{{.UserInfo.NumRaffleEthWinnings}}
			</a>
			&nbsp;&nbsp;
			<a href="/black/cosmicgame/user/raffle_deposits/{{.UserInfo.Address}}">
				<small>Raffle ETH Deposits</small>
			</a>
		</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports">Number of Raffle NFTs won</td>
		<td class="market_reports">
			<a href="/black/cosmicgame/user/raffle_nft_winnings/{{.UserInfo.Address}}">
				{{.UserInfo.RaffleNFTWon}}
			</a>
			&nbsp;&nbsp;
			<a href="/black/cosmicgame/user/raffle_nft_winnings/{{.UserInfo.Address}}">
				<small>Raffle NFT winnings</small>
			</a>
		</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports">Total CS Tokens</td>
		<td class="market_reports">
			<a href="/black/cosmicgame/cst/list_by_user/{{.UserInfo.Address}}">
				{{.UserInfo.TotalCSTokensWon}}
			</a>
			&nbsp;&nbsp;
			<a href="/black/cosmicgame/cst/list_by_user/{{.UserInfo.Address}}">
				<small>List of tokens</small>
			</a>
		</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports" title="">User notification red box with info about what to claim</td>
		<td class="market_reports">
		<nav style="float: right;">
			<ul>
			<li style="width: 20em;">
				<a class="btn_link" href="/black/cosmicgame/user/notif_red_box/{{.UserInfo.Address}}">Notif Red Box</a>
				<span></span><span></span><span></span><span></span>
			</li>
			</ul>
			</nav>
		</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports" title="">Detailed claim history page</td>
		<td class="market_reports">
		<nav style="float: right;">
			<ul>
			<li style="width: 20em;">
				<a class="btn_link" href="/black/cosmicgame/user/claim_history/{{.UserInfo.Address}}/0/1000000">Claim History</a>
				<span></span><span></span><span></span><span></span>
			</li>
			</ul>
			</nav>
		</td>
	</tr>
	<tr class="market_reports">
		<td class="market_reports" title="">Balances</td>
		<td class="market_reports">
		<nav style="float: right;">
			<ul>
			<li style="width: 20em;">
				<a class="btn_link" href="/black/cosmicgame/user/balances/{{.UserInfo.Address}}">Balances</a>
				<span></span><span></span><span></span><span></span>
			</li>
			</ul>
			</nav>
		</td>
	</tr>
</table>
<h4>Bids of user</h4>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Bid amount (ETH)</th>
		<th class="market_reports">Cosmic Signature Token amount</th>
		<th class="market_reports">RWalk NFT Id</th>
	</tr>
	{{- range $i, $change := .Bids}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				<a href="/black/cosmicgame/bid/info/{{.EvtLogId}}">{{.BlockNum}}</a>
			</td>
			<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
			<td style="text-align: right;" title="">{{printf "%.6f" .BidPriceEth}}</td>
			<td style="text-align: right;" title="">{{printf "%.4f" .ERC20_AmountEth}}</td>
			<td style="text-align: right;" title="">{{ .RWalkNFTId }}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<h4>Prizes won by the user</h4>
<table>
	<tr class="market_reports">
		<th class="market_reports">BlockNum</th>
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Win amount(ETH)</th>
		<th class="market_reports">Seed</th>
	</tr>
	{{- range $i, $change := .Prizes}}
		<tr class="market_reports">
			<td class="" title="{{.TimeStamp}}">
				<a href="/black/cosmicgame/prize/info/{{.PrizeNum}}">{{.BlockNum}}</a>
			</td>
			<td class="" title="{{.TimeStamp}}">{{.DateTime}}</td>
			<td style="text-align: right;" title="">{{printf "%.6f" .AmountEth}}</td>
			<td style="text-align: right;" title="">{{.Seed}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/><br/>
<code>
	API: /api/cosmicgame/user/info/[user_address]</br>

	Example: /api/cosmicgame/user/info/{{.UserInfo.Address}}
</code>
</body>
