<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Transfers for Market{{.Market.MktAddr}}</title>
	<meta name="description" content="{{.Market.Description}}">
</head>
<body>
	<h3 class="page_title">Transfers of {{.TokenInfo.Name}} ( {{.TokenInfo.Symbol}} )</h3>
<table class="market_detail">
<tr>
	<td>User Address:</td>
	<td>{{.UserAddr}}</td>
</tr>
<tr>
	<td>Market Address:</td>
	<td>{{.MarketInfo.MktAddr}}</td>
</tr>
<tr>
	<td>Outcome</td>
	<td>{{.OutcomeIdx}} {{.MarketInfo.CurOutcome}}</td>
</tr>
<tr>
	<td>ERC20 Token Wrapper Address</td>
	<td>{{.TokenInfo.Address}}</td>
</tr>
<tr>
	<td>ERC20 Token Wapprer Name </td>
	<td>{{.TokenInfo.Name}}</td>
</tr>
<tr>
	<td>ERC20 Token Wrapper Symbol</td>
	<td>{{.TokenInfo.Symbol}}</td>
</tr>
<tr>
	<td>ERC20 Token Wrapper Decimal places</td>
	<td>{{.TokenInfo.Decimals}}</td>
</tr>
</table>
<br/><br/>
<div class="market_info">
<table class="market_trades">
	<tr class="market_trades">
		<th class="mkt_trade_hdr" style="text-align: center">Date</th>
		<th class="mkt_trade_hdr" style="text-align: center">From</th>
		<th class="mkt_trade_hdr" style="text-align: center">To</th>
		<th class="mkt_trade_hdr" style="text-align: center">Amount</th>
		<th class="mkt_trade_hdr" style="text-align: center">Balance</th>
	</tr>
	{{- range $i, $transfer := .Transfers}}
		<tr class="market_trades">
			<td class="mkt_trade_field">{{.Date}}</td>
			<td class="mkt_trade_field">{{.From}}</td>
			<td class="mkt_trade_field">{{.To}}</td>
			<td class="mkt_trade_field" style="text-align: right">{{.Amount}}</td>
			<td class="mkt_trade_field" style="text-align: right">{{.Balance}}</td>
		</tr>
	{{- end}}
</table>
</div>
</body>
