<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<link href="/black/res/cosmicgame.css" rel="stylesheet">
	<title>User NFT Raffle Winnings</title>
</head>
<body>
	<div class="cg-container">
		<div class="page-header">
			<div class="home-button">
				<nav>
					<ul>
						<li style="width: 10em;">
							<a class="btn_link" href="/black/cosmicgame">🏠 Home</a>
							<span></span><span></span><span></span><span></span>
						</li>
					</ul>
				</nav>
			</div>
			<h1>🎲 NFT Raffle Winnings</h1>
			<div class="address-display">{{.UserInfo.Address}}</div>
		</div>

		<div class="section-card">
			<table class="data-table">
				<tr>
					<th>Block</th>
					<th>DateTime</th>
					<th>Winner</th>
					<th class="center">Round</th>
					<th class="center">Index</th>
					<th class="center">Token ID</th>
				</tr>
				{{- range $i, $change := .UserRaffleNFTWinnings}}
					<tr>
						<td>{{.Tx.BlockNum}}</td>
						<td>{{.Tx.DateTime}}</td>
						<td class="monospace">
							<a href="/black/cosmicgame/user/info/{{.WinnerAddr}}">{{.WinnerAddr}}</a>
						</td>
						<td class="center">{{.RoundNum}}</td>
						<td class="center">{{.WinnerIndex}}</td>
						<td class="center">
							<a href="/black/cosmicgame/cst/info/{{.TokenId}}">{{.TokenId}}</a>
						</td>
					</tr>
				{{- end}}
			</table>
		</div>

		<div class="api-info">
			<strong>API Endpoint:</strong><br/>
			<code>/api/cosmicgame/raffle/nft/by_user/[user_addr]</code><br/><br/>
			<strong>Example:</strong><br/>
			<code>/api/cosmicgame/raffle/nft/by_user/{{.UserInfo.Address}}</code>
		</div>
	</div>
</body>
</html>
