<html>
<head>
	<title>{{.title}}</title>
	<link href="res/main.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<p>
</p>
<script>
	const ctx = document.getElementById('returnsChart');
	const ctx = document.getElementById('returnsChart').getContext('2d');
	const ctx = $('#returnsChart');
	const ctx = 'returnsChart';
</script>
<div width="300" height="200">
<canvas id="returnsChart" style="max-width: 600; max-height:300;"></canvas>
</div>
<h3>Pool liquidity provider distribution</h3>
<table>
	<tr>
		<th>Address</th>
		<th>Percentage</th>
	</tr>
	{{- range $i, $change := .Liquidity}}
	<tr>
		<td>{{.FunderAddr}}</td>
		<td style="text-align:right;">{{ printf "%.2f" .Percentage}}</td>
	</tr>
	{{- end}}
</table>
<script>
const ctx = document.getElementById('returnsChart');
const myChart = new Chart(ctx, {
    type: 'pie',
    data: {
		labels: {{.JSParams.Labels}},
        datasets: [{
            label: 'Distribution of invested funds, by address',
			data: {{.JSParams.DataSet1}},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
</body>
</html>
