<html>
<head>
	<title>Statistics </title>
	<link href="/black/res/main.css" rel="stylesheet">
</head>

<body>
<nav>
	<ul>
	<li>
		<a class="btn_link" href="/black/statistics/arbitrum/{{.ArbTsIni}}/{{.ArbTsFin}}">Arbitrum</a>
		<span></span><span></span><span></span><span></span>
	</li>
	<li>
		<a class="btn_link" href="/black/statistics/main_net/{{.MainNetTsIni}}/{{.MainNetTsFin}}">Main Net</a>
		<span></span><span></span><span></span><span></span>
	</li>
</table>
</div>
<br/><br/>
<code>
	API: /api/statistics/timeframe_ranges<br/>
	(this request is to get the range of timeframes that later will be used for querying)
	Example: /api/statistics/timeframe_ranges
</code>
</body>
</html>
