<html>
<head>
	<link href="/black/res/main.css" rel="stylesheet">
	<title>Statistics from {{.IniDate}} to {{.FinDate}}</title>
</head>
<body>
	<h3 class="page_title">Blockchain statistics <h3>
<table>
	<tr>
		<td><b>From</b></td><td>{{.IniDate}}</td>
	</tr>
	<tr>
		<td><b>To</b></td><td>{{.FinDate}}</td>
	</tr>
</table>
<table>
	<tr class="market_reports">
		<th class="market_reports">Datetime</th>
		<th class="market_reports">Unique Human</th>
		<th class="market_reports">Unique Contract</th>
		<th class="market_reports">ETH Transferred</th>
		<th class="market_reports">Tx Fees</th>
	</tr>
	{{- range $i, $change := .Statistics}}
		<tr class="market_reports">
			<td class="">{{.DateTime}}</td>
			<td class="" style="text-align:center;">{{.NumUniqHumanAccts}}</td>
			<td class="" style="text-align:center;">{{.NumUniqContractAccts}}</td>
			<td class="addr" style="text-align: right;">{{printf "%.6f" .EthTransferred}}</td>
			<td class="addr" style="text-align: right;">{{printf "%.6f" .TxFeesEth}}</td>
		</tr>
	{{- end}}
</table>
<br/><br/>
<code>
	API: /api/stats/by_period/[from_ts]/[to_ts]<br/>

	Example: /api/stats/by_period/{{.IniTs}}/{{.FinTs}}
</code>
</body>
